<div ng-controller="PasswordSettingsController">
    <form ng-submit="save()">
    <div class="pwChange">
        <div class="title">{{ 'CHOSE-NEW-PASS' | translate }}:</div>
        <input type="password" placeholder="{{ 'OLD-PASS' | translate }}" ng-model="input.pwOld"/>
        <input type="password" placeholder="{{ 'NEW-PASS' | translate }}" ng-model="input.pwNew" ng-keyup="pwValidate(input.pwNew)"/>
        <div class="pwValidation">
            <div ng-class="{'active':pwSafety>=1}"></div>
            <div ng-class="{'active':pwSafety>=2}"></div>
            <div ng-class="{'active':pwSafety>=3}"></div>
            <div ng-class="{'active':pwSafety==4}"></div>
        </div>
        <input type="password" placeholder="{{ 'REPETITION' | translate }}" ng-model="input.pwRepeat"/>
    </div>
        <button type="submit" class="transparent action tooltipTop" title="{{ 'SAVE' | translate }}"><i class="material-icons" ng-click="save()">done</i></button>
    </form>
</div>