<div class="pagesDesignWrapper" ng-controller="pageDesignController">
    <h3>Bilder</h3>
    <p>Wählen Sie für einen guten Auftritt hochwertige Bilder.
    Vermeiden Sie Text in den Fotos.</p>
    <div class="mainImg" ng-if="img.main" ng-style="{'background-image': 'url(' + img.url + ')'}" ng-repeat="img in input.imgs"></div>
    <div class="imgs">
        <input id="filepicker" class="filepicker" type="file" accept="image/*"/>
        <label class="uploader" for="filepicker">
            <div>Bild hier ablegen oder <span>auswählen</span></div>
        </label>
        <div class="img" ng-style="{'background-image': 'url(' + img.url + ')'}" ng-repeat="img in input.imgs">
            <div class="actions">
                <div ng-click="setMainImg($index)"><i class="material-icons">done</i>Als Hauptbild</div>
                <div><i class="material-icons">crop</i>Zuschneiden</div>
                <div ng-click="deleteImg($index)"><i class="material-icons">delete_outline</i>Löschen</div>
            </div>
        </div>
    </div>
    <h3>Farbe</h3>
    <p>Wählen Sie eine Farbe, die zu Ihrem Restaurant oder Ihrer Corporate Identity passt.</p>
    <div class="color">
        <div class="currentColor" ng-click="colorpicker = !colorpicker" ng-style="{'background-color': input.color}"></div>
        <div class="colorpicker" ng-class="{visible: colorpicker}">
            <div class="color" ng-click="input.color = '#e67e22'; colorpicker = false" style="background-color: #e67e22">
                <div class="subcolorpicker">
                    <div class="color" ng-click="input.color = '#e6b42e'; colorpicker = false" style="background-color: #e6b42e"></div>
                    <div class="color" ng-click="input.color = '#e67e22'; colorpicker = false" style="background-color: #e67e22"></div>
                    <div class="color" ng-click="input.color = '#d06a13'; colorpicker = false" style="background-color: #d06a13"></div>
                </div>
            </div>
            <div class="color" ng-click="input.color = '#e74c3c'; colorpicker = false" style="background-color: #e74c3c">
                <div class="subcolorpicker">
                    <div class="color" ng-click="input.color = '#e76f60'; colorpicker = false" style="background-color: #e76f60"></div>
                    <div class="color" ng-click="input.color = '#e74c3c'; colorpicker = false" style="background-color: #e74c3c"></div>
                    <div class="color" ng-click="input.color = '#ce4a3a'; colorpicker = false" style="background-color: #ce4a3a"></div>
                </div>
            </div>
            <div class="color" ng-click="input.color = '#9b59b6'; colorpicker = false" style="background-color: #9b59b6">
                <div class="subcolorpicker">
                    <div class="color" ng-click="input.color = '#a773b6'; colorpicker = false" style="background-color: #a773b6"></div>
                    <div class="color" ng-click="input.color = '#9b59b6'; colorpicker = false" style="background-color: #9b59b6"></div>
                    <div class="color" ng-click="input.color = '#68389e'; colorpicker = false" style="background-color: #68389e"></div>
                </div>
            </div>
            <div class="color" ng-click="input.color = '#3498db'; colorpicker = false" style="background-color: #3498db">
                <div class="subcolorpicker">
                    <div class="color" ng-click="input.color = '#63b3db'; colorpicker = false" style="background-color: #63b3db"></div>
                    <div class="color" ng-click="input.color = '#3498db'; colorpicker = false" style="background-color: #3498db"></div>
                    <div class="color" ng-click="input.color = '#334f9d'; colorpicker = false" style="background-color: #334f9d"></div>
                </div>
            </div>
            <div class="color" ng-click="input.color = '#1abc9c'; colorpicker = false" style="background-color: #1abc9c">
                <div class="subcolorpicker">
                    <div class="color" ng-click="input.color = '#51bcb6'; colorpicker = false" style="background-color: #51bcb6"></div>
                    <div class="color" ng-click="input.color = '#1abc9c'; colorpicker = false" style="background-color: #1abc9c"></div>
                    <div class="color" ng-click="input.color = '#18a67c'; colorpicker = false" style="background-color: #18a67c"></div>
                </div>
            </div>
            <div class="color" ng-click="input.color = '#2ecc71'; colorpicker = false" style="background-color: #2ecc71">
                <div class="subcolorpicker">
                    <div class="color" ng-click="input.color = '#5ccc95'; colorpicker = false" style="background-color: #5ccc95"></div>
                    <div class="color" ng-click="input.color = '#2ecc71'; colorpicker = false" style="background-color: #2ecc71"></div>
                    <div class="color" ng-click="input.color = '#1ca143'; colorpicker = false" style="background-color: #1ca143"></div>
                </div>
            </div>
            <div class="color custom" ng-click="pickColor()"></div>
        </div>
    </div>
</div>