<div ng-controller="pageTimesController">
    <div class="left">
        <h3>{{ 'OPENINGTIMES' | translate }}:</h3>
        <div ng-if="!input.openingTimes.length">{{ 'NO-OPENINGTIMES' | translate }}<br/><br/></div>
        <button ng-click="showOpeningTimesAdd()"><i class="material-icons">schedule</i> {{ 'ENTER-OPENINGTIMES' | translate }}</button>
        <br/>
        <br/>
        <div class="openingTimes" ng-repeat="openingTime in input.openingTimes | orderBy: openingTime.weekday">
            <div><span>{{ weekdays.options[openingTime.weekday].name | translate }}</span><span>{{ openingTime.opens }} - {{ openingTime.closes }}</span>
            </div>
            <i class="material-icons tooltipRight" title="{{ 'REMOVE' | translate }}"
               ng-click="openingTimeRemove(openingTime.id, $index)">delete_outline</i>
        </div>
    </div>
    <div class="right">
        <h3>{{ 'RESTDAYS' | translate }}:</h3>
        <div ng-if="!restDays.length">{{ 'NO-RESTDAYS' | translate }}<br/><br/></div>
        <button ng-click="showRestDayAdd()"><i class="material-icons">beach_access</i> {{ 'ENTER-RESTDAY' | translate }}</button>
        <br/>
        <br/>
        <div class="restDays" ng-repeat="restDay in restDays">
            <div><span>{{ restDay.date | date: 'dd.MM.y' }}</span><span>{{ restDay.description }}</span></div>
            <i class="material-icons tooltipRight" title="{{ 'REMOVE' | translate }}" ng-click="restDayRemove(restDay.id, $index)">delete_outline</i>
        </div>
    </div>
</div>