<div class="full">
    <label>Ziehen Sie eine Mahlzeit auf den gewünschten Tag.</label>
    <br/>
    <br/>
    <div class="days" ng-if="!input.constantMenus">
        <div class="day" ng-class="{'closed':day.restDay}" ng-drop="true" ng-drop-success="assignMenu($index, $data)"
             ng-repeat="day in days">
            <div class="done" ng-if="day.menu.meals">
                <div class="menu yellow" ng-if="day.menu.meals.appetizer" ng-click="removeMenu('appetizer', $index)">
                    <span ng-if="day.menu.meals.appetizer.description.length >= 15">{{ day.menu.meals.appetizer.description | limitTo:12  }}...</span>
                    <span ng-if="day.menu.meals.appetizer.description.length < 15">{{ day.menu.meals.appetizer.description }}</span>
                    <i class='material-icons remove tooltipBottom' title="{{ day.menu.meals.appetizer.description }}">close</i>
                </div>
                <div class="menu red" ng-if="day.menu.meals.mainCourse" ng-click="removeMenu('mainCourse', $index)">
                    <span ng-if="day.menu.meals.mainCourse.description.length >= 15">{{ day.menu.meals.mainCourse.description | limitTo:12  }}...</span>
                    <span ng-if="day.menu.meals.mainCourse.description.length < 15">{{ day.menu.meals.mainCourse.description }}</span>
                    <i class='material-icons remove tooltipBottom' title="{{ day.menu.meals.mainCourse.description }}">close</i>
                </div>
                <div class="menu brown" ng-if="day.menu.meals.dessert" ng-click="removeMenu('dessert', $index)">
                    <span ng-if="day.menu.meals.dessert.description.length >= 15">{{ day.menu.meals.dessert.description | limitTo:12  }}...</span>
                    <span ng-if="day.menu.meals.dessert.description.length < 15">{{ day.menu.meals.dessert.description }}</span>
                    <i class='material-icons remove tooltipBottom' title="{{ day.menu.meals.dessert.description }}">close</i>
                </div>
            </div>
            <div class="text" ng-if="!day.menu.meals">
                {{ day.name | translate | limitTo : 2 }}
                <div class="date">{{ day.date | date:"dd.MM" }}</div>
            </div>
            <i ng-click="setConstantMenu($index)" class='material-icons constant tooltipBottom' ng-class="{active: day.constant}"
               title="Dauermenü ein/aus">priority_high</i>
            <i ng-if="!day.menu.meals" ng-click="restDayToggle($index)" class='material-icons closed tooltipBottom'
               title="Ruhetag ein/aus">beach_access</i>
            <img ng-if="day.restDay" class="closedTag" src="Web/Assets/Images/closed.png"/>
        </div>
        <label ng-if="!days.length"><i class="material-icons">schedule</i> Keine Öffnungszeiten. Tragen Sie unter der <a href="#page#times">Restaurantseite</a> welche ein.</label>
    </div>
    <div class="days" ng-if="input.constantMenus">
        <div class="day" ng-drop="true" ng-drop-success="assignMenu($index, $data)"
             ng-repeat="everyday in everydays">
            <div class="done" ng-if="everyday.menu.meals">
                <div class="menu yellow" ng-if="everyday.menu.meals.appetizer" ng-click="removeMenu('appetizer', $index)">
                    <span ng-if="everyday.menu.meals.appetizer.description.length >= 15">{{ everyday.menu.meals.appetizer.description | limitTo:12  }}...</span>
                    <span ng-if="everyday.menu.meals.appetizer.description.length < 15">{{ everyday.menu.meals.appetizer.description }}</span>
                    <i class='material-icons remove tooltipBottom' title="{{ everyday.menu.meals.appetizer.description }}">close</i>
                </div>
                <div class="menu red" ng-if="everyday.menu.meals.mainCourse" ng-click="removeMenu('mainCourse', $index)">
                    <span ng-if="everyday.menu.meals.mainCourse.description.length >= 15">{{ everyday.menu.meals.mainCourse.description | limitTo:12  }}...</span>
                    <span ng-if="everyday.menu.meals.mainCourse.description.length < 15">{{ everyday.menu.meals.mainCourse.description }}</span>
                    <i class='material-icons remove tooltipBottom' title="{{ everyday.menu.meals.mainCourse.description }}">close</i>
                </div>
                <div class="menu brown" ng-if="everyday.menu.meals.dessert" ng-click="removeMenu('dessert', $index)">
                    <span ng-if="everyday.menu.meals.dessert.description.length >= 15">{{ everyday.menu.meals.dessert.description | limitTo:12  }}...</span>
                    <span ng-if="everyday.menu.meals.dessert.description.length < 15">{{ everyday.menu.meals.dessert.description }}</span>
                    <i class='material-icons remove tooltipBottom' title="{{ everyday.menu.meals.dessert.description }}">close</i>
                </div>
            </div>
            <div class="text" ng-if="!everyday.menu.meals">
                {{ everyday.name | limitTo : 2 }}
            </div>
        </div>
    </div>
    <div class="mealIndicator"><span class="veggie">{{ 'VEGGIE' | translate }}</span></div>
    <div class="menunames">
        <div class="menutype appetizer">
            <label>
                <span ng-if="!appetizer.search">{{ 'APPETIZER' | translate }}</span>
                <input class="searchbox" type="text" ng-if="appetizer.search" ng-keydown="escSearchbox($event)" ng-model="appetizer.searchbox"/>
                <i class='material-icons search tooltipTop' ng-click="appetizer.search = true"
                   ng-show="!appetizer.search" title="{{ 'SEARCH' | translate }}">search</i>
                <i class='material-icons search' ng-click="appetizer.search = false"
                   ng-show="appetizer.search">close</i>
                <a href="#meal/add/appetizer"><i class='material-icons add tooltipTop' title="{{ 'ADD' | translate }}">add</i></a>
            </label>
            <div class="menuWrapper">
                <div ng-repeat="menu in menus | filter: { type:1 } | filter:appetizer.searchbox">
                    <div class="menu" ng-drag="true" ng-drag-data="menus.indexOf(menu)"
                         ng-class="{'veggie':menu.veggie}">
                        {{ menu.description }}
                        <i class='material-icons remove tooltipBottom'
                           ng-click="removeMeal(menu.id, menus.indexOf(menu))" title="{{ 'DELETE' | translate }}">close</i>
                    </div>
                </div>
                <div class="empty" ng-show="menus.length && !(menus | filter:appetizer.searchbox).length">
                    <span>Keine Ergebnisse</span>
                </div>
                <div class="empty" ng-show="!(menus | filter: { type:1 }).length">
                    <span>Fügen Sie mit</span> <i class="material-icons">add</i> <span>welche hinzu</span>
                </div>
            </div>
        </div>
        <div class="menutype mainCourse">
            <label>
                <span ng-if="!mainCourse.search">{{ 'MAIN-COURSE' | translate }}</span>
                <input class="searchbox" type="text" ng-if="mainCourse.search" ng-model="mainCourse.searchbox"/>
                <i class='material-icons search tooltipTop' ng-click="mainCourse.search = true"
                   ng-show="!mainCourse.search" title="{{ 'SEARCH' | translate }}">search</i>
                <i class='material-icons search' ng-click="mainCourse.search = false"
                   ng-show="mainCourse.search">close</i>
                <a href="#meal/add/mainCourse"><i class='material-icons add tooltipTop' title="{{ 'ADD' | translate }}">add</i></a>
            </label>
            <div class="menuWrapper">
                <div ng-repeat="menu in menus | filter: { type:2 } | filter:mainCourse.searchbox">
                    <div class="menu" ng-drag="true" ng-drag-data="menus.indexOf(menu)"
                         ng-class="{'veggie':menu.veggie}">
                        {{ menu.description }}
                        <i class='material-icons remove tooltipBottom'
                           ng-click="removeMeal(menu.id, menus.indexOf(menu))" title="{{ 'DELETE' | translate }}">close</i>
                    </div>
                </div>
                <div class="empty" ng-show="menus.length && !(menus | filter:mainCourse.searchbox).length">
                    <span>Keine Ergebnisse</span>
                </div>
                <div class="empty" ng-show="!(menus | filter: { type:2 }).length">
                    <span>Fügen Sie mit</span> <i class="material-icons">add</i> <span>welche hinzu</span>
                </div>
            </div>
        </div>
        <div class="menutype desert">
            <label>
                <span ng-if="!dessert.search">{{ 'DESSERT' | translate }}</span>
                <input class="searchbox" type="text" ng-if="dessert.search" ng-model="dessert.searchbox"/>
                <i class='material-icons search tooltipTop' ng-click="dessert.search = true" ng-show="!dessert.search" title="{{ 'SEARCH' | translate }}">search</i>
                <i class='material-icons search' ng-click="dessert.search = false" ng-show="dessert.search">close</i>
                <a href="#meal/add/dessert"><i class='material-icons add tooltipTop' title="{{ 'ADD' | translate }}">add</i></a>
            </label>
            <div class="menuWrapper">
                <div ng-repeat="menu in menus | filter: { type:3 } | filter:dessert.searchbox">
                    <div class="menu" ng-drag="true" ng-drag-data="menus.indexOf(menu)"
                         ng-class="{'veggie':menu.veggie}">
                        {{ menu.description }}
                        <i class='material-icons remove tooltipBottom'
                           ng-click="removeMeal(menu.id, menus.indexOf(menu))" title="{{ 'DELETE' | translate }}">close</i>
                    </div>
                </div>
                <div class="empty" ng-show="menus.length && !(menus | filter:dessert.searchbox).length">
                    <span>Keine Ergebnisse</span>
                </div>
                <div class="empty" ng-show="!(menus | filter: { type:3 }).length">
                    <span>Fügen Sie mit</span> <i class="material-icons">add</i> <span>welche hinzu</span>
                </div>
            </div>
        </div>
    </div>
</div>