<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Viewport for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hallein-App - Backend</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="assets/css/style.css" media="screen">
    <link rel="stylesheet" href="assets/css/login.css" media="screen">
    <link rel="stylesheet" href="assets/css/elements.css" media="screen">
    <link rel="stylesheet" href="assets/css/queries.css" media="screen">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="controllers/main.js"></script>
    <!-- Libraries -->
    <link rel="stylesheet" type="text/css" href="assets/plugins/tooltipster/dist/css/tooltipster.bundle.min.css"/>
    <script type="text/javascript" src="assets/plugins/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/tooltipster-customized.css"/>
    <script src="assets/plugins/js-cookie/js.cookie.js"></script>
    <!-- Scripts -->
    <script src="assets/js/main.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="mainController">
    <div class="login" ng-if="!loggedIn">
        <h1>Hallein APP - Verwaltung</h1>
        <div class="devs"><a class="we" href="#">Die Entwickler</a><a class="whoarewe" href="#">| Über </a></div>
        <div class="loginwrapper">
            <i class="material-icons usericon">person_outline</i><input class="username" type="text"/>
            <i class="material-icons passwordicon">lock_outline</i><input class="password" type="text"/>
            <div class="passwordlostbox" ng-click="logIn()"><a class="passwordlost" href="#">Passwort vergessen?</a><i
                    class="material-icons doneicon">done</i></div>
        </div>
    </div>


    <div class="wrapper" ng-class="{true:'finished'}[loggedIn]">
        <div class="popup large" ng-if="popup" ng-class="{true:'visible'}[popup]"><i class="material-icons close"
                                                                                     ng-click="popupClose()">close</i>
            <h2>Einstellungen</h2>
            <navigation>
                <ul>
                    <li ng-repeat="link in popupLinks" ng-click="popupLoad(link.url)"><i class="material-icons">{{
                        link.icon
                        }}</i>{{ link.name }}
                    </li>
                </ul>
            </navigation>
            <content ng-bind-html-unsafe="popupContent"></content>
        </div>
        <div class="topbar">
            <i class="material-icons burgericon">menu</i>
            <h1 class="headline">Verwaltungsdashboard</h1>

            <div class="user">
                Benutzername

                <img src="assets/imgs/profile_default.png"/>
                <img class="icon" src="assets/icons/arrow_down.png"/>
            </div>
            <div class="options">
                <ul>
                    <li ng-click="openSettings()">Einstellungen</li>
                    <li>Nachrichten</li>
                    <li id="logout" ng-click="logOut()">Logout</li>
                </ul>
            </div>
        </div>
        <div class="overlay" ng-class="{true:'visible'}[popup]" ng-click="popupClose()"></div>
        <div class="navbar" ng-click="open()">
            <ul ng-repeat="route in routes">
                <a href="#{{ route.path }}">
                    <li>{{ route.name }}</li>
                </a>
            </ul>
        </div>
        <div class="container">
            <div ng-view></div>
        </div>
        <div class="actionbar" ng-class="{true:'visible'}[action]">
            <div class="icon tooltip" title="Speichern"><i class="material-icons">done</i></div>
            <div class="icon bottom tooltip" title="Verwerfen"><i class="material-icons">delete</i></div>
        </div>
    </div>
</div>
</body>
</html>
