<div ng-controller="ProfileSettingsController">
    <form ng-submit="save()">
        <div class="title">{{ 'PROFILE-SETTINGS' | translate }}:</div>
        <input type="text" placeholder="{{ 'FIRSTNAME' | translate }}" ng-model="input.firstname"/>
        <input type="text" placeholder="{{ 'LASTNAME' | translate }}" ng-model="input.lastname"/>
        <input type="text" placeholder="{{ 'EMAIL-ADDRESS' | translate }}" ng-model="input.email"/>
        <button type="submit" class="transparent action tooltipTop" title="{{ 'SAVE' | translate }}"><i class="material-icons" ng-click="save()">done</i></button>
    </form>
</div>