<div class="days">
    <div class="day" ng-drop="true" ng-drop-success="assignMenu($index, $data)" ng-class="{done: day.menu}" ng-repeat="day in days">
        <div ng-if="day.menu" ng-click="removeMenu($index)">
            <span ng-if="menus[day.menu - 1].name.length > 10">{{ menus[day.menu - 1].name | limitTo:10  }}...</span>
            <span ng-if="menus[day.menu - 1].name.length < 13">{{ menus[day.menu - 1].name }}</span>
            <i class='material-icons remove tooltipBottom' title="{{ menus[day.menu - 1].name }}">close</i>
        </div>
        <div ng-if="!day.menu">{{ day.name }}</div>
    </div>
</div>
<div class="menunames">
    <div class="menu" ng-drag="true" ng-drag-data="$index" ng-repeat="menu in menus" ng-click="pushMenu($index)">{{ menu.name }}</div>
</div>
<!--  Radio-Button:
  <br/>
  <input type="radio" id="mc" name="radiobutton" value="yes" checked/>
  <label for="mc">Ja</label>
  <input type="radio" id="vi" name="radiobutton" value="no"/>
  <label for="vi">Nein</label>
  <br/>
  <br/>
  Button:
  <br/>
  <button><i class="material-icons">done</i>Erstellen</button>
  <br/>
  <br/>
  Textbereich:
  <br/>
  <textarea>Textbereich</textarea>
  <br/>
  <br/>
  Tags:
  <br/>
  <tag>Test</tag> -->