<div class="full">
    <label>Typ:</label>
    <select>
        <option>Vorspeise</option>
        <option selected>Hauptspeise</option>
        <option>Nachspeise</option>
    </select><br/>
    <br/>
    <label>Tags: <i class="material-icons tooltipRight" title="Tags helfen beim Suchen nach Mahlzeiten und geben den Benutzern Essensvorschläge.">help_outline</i></label>
    <div class="tagBox">
        <div ui-sortable class="tag" ng-repeat="tag in tags" ng-class="tag.class">
            {{ tag.name }}
            <i class="material-icons" ng-click="removeTag($index)">close</i>
        </div>
        <div class="tag empty" contenteditable="true" data-placeholder="hinzufügen"></div>
    </div>

    <br/>
    <label class="longer">Beschreibung:</label><br/>
    <br/>
    <div>
        <textarea class="short" placeholder="Beschreibung"></textarea>
        <div class="veggieWrapper">
            <label class="longer smaller">Vegetarisch?</label>
            <br/>
            <input type="radio" id="y" name="veggie" value="Ja">
            <label class="checkLabel" for="y">Ja</label>
            <input type="radio" id="n" name="veggie" value="Nein" checked>
            <label class="checkLabel" for="n">Nein</label>
        </div>
    </div>
</div>