<div class="full">
    <label>Wir freuen uns über Feedback. Die Verarbeitung erfolgt anonym.</label>
    <br/>
    <br/>
    <div>
        <label>Wie gefällt Ihnen das Design des Dashboards?</label><br/>
        <input type="radio" id="design1" name="design" value="1" ng-model="input.design">
        <label class="checkLabel" for="design1">Weniger gut</label>
        <input type="radio" id="design2" name="design" value="2" ng-model="input.design">
        <label class="checkLabel" for="design2">Gut</label>
        <input type="radio" id="design3" name="design" value="3" ng-model="input.design">
        <label class="checkLabel" for="design3">Sehr gut</label>
        <br>
        <br/>
        <label>Wie zufrieden sind Sie mit den Funktionen (z.B. Menü eintragen)?</label><br/>
        <input type="radio" id="features1" name="features" value="1" ng-model="input.features">
        <label class="checkLabel" for="features1">Weniger zufrieden</label>
        <input type="radio" id="features2" name="features" value="2" ng-model="input.features">
        <label class="checkLabel" for="features2">Zufrieden</label>
        <input type="radio" id="features3" name="features" value="3" ng-model="input.features">
        <label class="checkLabel" for="features3">Sehr zufrieden</label>
        <br>
        <br/>
        <label>Wie oft loggen Sie sich in einer Woche ein?</label><br/>
        <input type="radio" id="logins1" name="logins" value="1" ng-model="input.logins">
        <label class="checkLabel" for="logins1">Weniger als 1 x</label>
        <input type="radio" id="logins2" name="logins" value="2" ng-model="input.logins">
        <label class="checkLabel" for="logins2">1 x bis 3 x</label>
        <input type="radio" id="logins3" name="logins" value="3" ng-model="input.logins">
        <label class="checkLabel" for="logins3">Mehr als 3 x</label>
        <br>
        <br/>
        <label>Haben Sie öfters Probleme oder funktioniert etwas nicht?</label><br/>
        <input type="radio" id="bugs1" name="bugs" value="1" ng-model="input.bugs">
        <label class="checkLabel" for="bugs1">Nie</label>
        <input type="radio" id="bugs2" name="bugs" value="2" ng-model="input.bugs">
        <label class="checkLabel" for="bugs2">Manchmal</label>
        <input type="radio" id="bugs3" name="bugs" value="3" ng-model="input.bugs">
        <label class="checkLabel" for="bugs3">Oft</label>
        <br>
        <br/>
        <label>Wie bewerten Sie das Dashboard gesamt betrachtet?</label><br/>
        <input type="radio" id="overall1" name="overall" value="1" ng-model="input.overall">
        <label class="checkLabel" for="overall1">Schlecht</label>
        <input type="radio" id="overall2" name="overall" value="2" ng-model="input.overall">
        <label class="checkLabel" for="overall2">Weniger gut</label>
        <input type="radio" id="overall3" name="overall" value="3" ng-model="input.overall">
        <label class="checkLabel" for="overall3">Gut</label>
        <input type="radio" id="overall4" name="overall" value="4" ng-model="input.overall">
        <label class="checkLabel" for="overall4">Sehr gut</label>
        <input type="radio" id="overall5" name="overall" value="5" ng-model="input.overall">
        <label class="checkLabel" for="overall5">Genial!</label>
        <br>
        <br/>
        <label>Verbesserungsvorschläge/Problembeschreibung:</label><br/>
        <textarea class="short" placeholder="z.B. Der Server war letztens nicht erreichbar." ng-model="input.description"></textarea>
    </div>
</div>