<div class="loginWrapper">
    <h1>{{ route.title }}</h1>
    <form ng-submit="login()">
        <i class="material-icons icon">person_outline</i><input type="text" class="username" spellcheck="false" ng-model="input.username"/><br/>
        <i class="material-icons icon">lock_outline</i><input type="password" class="password" ng-model="input.password"/>
        <div class="actions">
            <button ng-click="complete('pwReset')">Passw. vergessen</button>
            <button type="submit" class="primary">Einloggen</button>
        </div>
    </form>
</div>