<div class="left">
    <h3>Grunddaten:</h3>
    <input type="text" placeholder="Restaurantname" ng-model="input.restaurantname"><br/>
    <textarea placeholder="Beschreibung" ng-model="input.description"></textarea>
    <label>
        <input type="checkbox" value="pupilMeal" ng-checked="input.studentMeals">
        Anbieter von Schülermahlzeit
    </label>
    <h3>Adresse:</h3>
    <input type="text" placeholder="Straße" ng-model="input.street"/><input type="text" class="short" placeholder="Hausnummer" ng-model="input.houseNumber"/><br/>
    <input type="text" class="short" placeholder="PLZ" ng-model="input.countryCode"/><input type="text" placeholder="Ort" ng-model="input.country"/>
    <a class="clean tooltip" href="http://maps.google.com/maps?q={{input.street}}+{{input.houseNumber}}+{{input.countryCode}}+{{input.country}}" target="_blank" title="Karte öffnen"><i class="material-icons">map</i></a>
    <h3>Kontaktdaten:</h3>
    <input type="text" placeholder="Email-Adresse" ng-model="input.email"/><br/>
    <input type="text" placeholder="Telefonnummer" ng-model="input.tel"/><br/>
    <input type="text" placeholder="Website" ng-model="input.website"/>
    <a class="clean tooltip" href="{{input.website}}" target="_blank" title="Link öffnen"><i class="material-icons">link</i></a>
    <br/>
</div>
<div class="right">
    <h3>Öffnungszeiten:</h3>
    <div class="openingHours" ng-repeat="day in days" ng-class="{true:'sleep'}[day.sleep]"><label class="inline shorter">{{ day.shorthand }}</label><input type="text" class="shorter" placeholder="00:00" ng-disabled="day.sleep" value="{{ day.from }}"/>- <input type="text" class="shorter" placeholder="00:00" ng-disabled="day.sleep" value="{{ day.toHalf }}"/> <input type="text" class="shorter" placeholder="00:00" ng-disabled="day.sleep" value="{{ day.fromHalf }}"/>- <input type="text" class="shorter" placeholder="00:00" ng-disabled="day.sleep" value="{{ day.to }}"/><i class="material-icons tooltipRight" title="Geschlossen" ng-click="sleep($index)">block</i></div>
    <h3>Ruhetage:</h3>
    <div class="restDay" ng-repeat="restDay in restDays"><div>{{ restDay.fromDate }} - {{ restDay.toDate }}</div><i class="material-icons tooltipRight" title="Entfernen" ng-click="restDayRemove($index)">delete_outline</i></div>
    <div ng-if="!restDays.length">Keine geplanten Ruhetage</div><br/>
    <button><i class="material-icons">beach_access</i> Ruhetag eintragen</button>
</div>