<label ng-if="unreplied.length">Neue Fragen</label><br/>
<br/>
<table class="users" ng-if="unreplied.length">
    <tr>
        <th class="sortable" ng-click="sort('unreplied', 'question')">Frage</th>
        <th class="sortable" ng-click="sort('unreplied', 'lastEdited')">Letzte Bearbeitung</th>
        <th></th>
    </tr>
    <tr ng-repeat="question in unreplied">
        <td>
            {{ question.question }}
        </td>
        <td>
            {{ question.lastEdited | date:"dd.MM.yyyy 'um' HH:mm" }}
        </td>
        <td class="actions">
            <a href="#support-edit/{{question.id}}" class="tooltipTop" title="Bearbeiten"><i
                    class="material-icons">edit</i></a>
            <div ng-click="delete(question.id, 'unreplied', $index)" class="tooltipTop" title="Löschen"><i class="material-icons">close</i>
            </div>
        </td>
    </tr>
</table>

<br/>
<br/>
<label>Beantwortete Fragen</label><br/>
<br/>
<table class="users" ng-if="replied.length">
    <tr>
        <th class="sortable" ng-click="sort('replied', 'question')">Frage</th>
        <th class="sortable" ng-click="sort('replied', 'category')">Kategorie</th>
        <th></th>
    </tr>
    <tr ng-repeat="question in replied">
        <td>
            {{ question.question }}
        </td>
        <td>
            {{ question.category }}
        </td>
        <td class="actions">
            <a href="#support-edit/{{question.id}}" class="tooltipTop" title="Bearbeiten"><i
                    class="material-icons">edit</i></a>
            <div ng-click="delete(question.id, 'replied', $index)" class="tooltipTop" title="Löschen"><i class="material-icons">close</i>
            </div>
        </td>
    </tr>
</table>