<table class="users" ng-if="users.length">
    <tr>
        <th class="sortable" ng-click="sort('name')">Name</th>
        <th class="sortable" ng-click="sort('username')">Benutzername</th>
        <th class="sortable" ng-click="sort('group')">Kontotyp</th>
        <th ng-click="sort('lastActive')">Letzte Aktivität</th>
        <th></th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.group }}</td>
        <td>{{ user.lastActive }}</td>
        <td class="actions">
            <div><i class="material-icons">edit</i></div>
            <div><i class="material-icons" ng-click="deleteUser($index)">close</i></div>
        </td>
    </tr>
</table>