<div class="full">
    <h3>Accountdaten:</h3>
    <label>Kontotyp:</label>
    <select ng-model="group.selected" ng-options="option.value as option.name for option in group.options"></select>
    <br/>
    <br/>
    <div ng-switch="group.selected">
        <div ng-switch-when="restaurants">
            <input type="text" placeholder="Restaurantname" ng-model="restaurantname"/><br/>
            <input type="text" placeholder="Benutzername" value="{{ restaurantname | lowercase }}@{{ group.selected }}" readonly/>
        </div>
    <div ng-switch-default>
        <input type="text" placeholder="Vorname" ng-model="firstname"/><br/>
        <input type="text" placeholder="Nachname" ng-model="lastname"/><br/>
        <input type="text" placeholder="Benutzername" value="{{ firstname | limitTo: 1 | lowercase }}{{ lastname | lowercase }}@{{ group.selected }}" readonly/><br/>
    </div>
        </div>
    <h3>Passwort:</h3>
    <div class="pwChange" ng-controller="pwChange">
        <input type="text" placeholder="Passwort" ng-model="pwNew" ng-keyup="pwValidate()"/>
        <button ng-click="generatePassword()"><i class="material-icons">autorenew</i> Generieren</button>
        <div class="pwValidation">
            <div ng-class="{1:'active'}[pwSafety]"></div>
            <div ng-class="{2:'active'}[pwSafety]"></div>
            <div ng-class="{3:'active'}[pwSafety]"></div>
            <div ng-class="{4:'active'}[pwSafety]"></div>
        </div>
    </div>
    <label>
        <input type="checkbox" value="passwordNeedsInit" checked>
        Passwort muss bei erster Anmeldung geändert werden
    </label>
</div>