<div class="full">
    <table class="users" ng-if="users.length">
        <tr>
            <th class="sortable" ng-click="sort('username')">Benutzername</th>
            <th class="sortable" ng-click="sort('type')">Kontotyp</th>
            <th ng-click="sort('lastActive')">Letzte Aktivität</th>
            <th></th>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{ user.username }}</td>
            <td>
                <ng-if ng-if="user.type == 1">Superuser</ng-if>
                <ng-if ng-if="user.type == 2">Administrator</ng-if>
                <ng-if ng-if="user.type == 3">Restaurant</ng-if>
            </td>
            <td>
                <ng-if ng-if="user.lastActive">{{ user.lastActive | date:"dd.MM.yyyy 'um' HH:mm" }}</ng-if>
                <ng-if ng-if="!user.lastActive">Keine</ng-if>
            </td>
            <td class="actions">
                <a href="#user-edit/{{user.id}}" class="tooltipTop" title="Bearbeiten" ng-if="user.actions"><i
                        class="material-icons">edit</i></a>
                <div ng-click="deleteUser(user.id, $index)" class="tooltipTop" title="Löschen" ng-if="user.actions"><i
                        class="material-icons">close</i></div>
            </td>
        </tr>
    </table>
</div>