<div class="full">
    <label>Kontotyp:</label>
    <select ng-model="types.selected" ng-options="option.name for option in types.options track by option.id"></select><br/>
    <br/>
    <label>Grunddaten:</label><br/>
    <div ng-switch="types.selected.group">
        <div ng-switch-when="restaurants">
            <input type="text" placeholder="Restaurantname" ng-model="input.restaurantname"/><br/>
        </div>
    </div>
    <input type="text" placeholder="Email-Adresse" ng-model="input.email"/><i class="material-icons tooltipRight" title="Der neue Benutzer erhält eine Email mit den Anmeldedaten.">help_outline</i><br/>
    <input type="text" placeholder="Vorname" ng-model="input.firstname"/><br/>
    <input type="text" placeholder="Nachname" ng-model="input.lastname"/><br/>
    <br/>
    <label>Benutzername:</label><br/>
    <input type="text" value="{{ input.firstname | limitTo: 2 | lowercase}}{{input.lastname | lowercase }}" readonly/><i class="material-icons tooltipRight" title="Der Benutzername wird generiert.">help_outline</i><br/>
    <br/>
    <label>Passwort:</label><br/>
    <input type="text" class="short" name=password" ng-model="input.password">
    <button ng-click="generatePassword()"><i class="material-icons">autorenew</i> Generieren</button><br/>
    <label>
        <input type="checkbox" ng-model="input.pwTemp" ng-true-value="1" ng-false-value="0">
        Passwort muss bei erster Anmeldung geändert werden
    </label>
</div>