<table class="users" ng-if="users.length">
    <tr>
        <th class="sortable" ng-click="sort('username')">Benutzername</th>
        <th class="sortable" ng-click="sort('group')">Gruppe</th>
        <th ng-click="sort('lastActive')">Letzte Aktivität</th>
        <th></th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{ user.username }}</td>
        <td>{{ user.type }}</td>
        <td>{{ user.lastLogin | date:"dd.MM.yyyy 'um' HH:mm" }}</td>
        <td class="actions">
            <div><i class="material-icons">edit</i></div>
            <div ng-click="deleteUser(user.id, $index)"><i class="material-icons">close</i></div>
        </td>
    </tr>
</table>
<label ng-if="!users.length">Keine Benutzer vorhanden</label>