<div class="full">
    <label>Grunddaten:</label><br/>
    <br/>
    <label>Kontotyp:</label>
    <select ng-model="types.selected" ng-options="option.name for option in types.options track by option.id"></select>
    <br/>
    <br/>
    <div ng-switch="types.selected.group">
        <div ng-switch-when="restaurants">
            <input type="text" placeholder="Restaurantname" ng-model="restaurantname"/><br/>
        </div>
    </div>
    <input type="text" placeholder="Vorname" ng-model="firstname"/><br/>
    <input type="text" placeholder="Nachname" ng-model="lastname"/><br/>
    <br/>
    <label>Benutzername:</label><br/>
    <input type="text" value="{{ firstname | limitTo: 1 | lowercase }}{{ lastname | lowercase }}@{{ types.selected.group }}" readonly/><br/>
    <br/>
    <h3>Passwort:</h3>
    <div class="pwChange" ng-controller="pwChange">
        <input type="text" placeholder="Passwort" ng-model="password" ng-keyup="pwValidate()"/>
        <button ng-click="generatePassword()"><i class="material-icons">autorenew</i> Generieren</button>
        <div class="pwValidation">
            <div ng-class="{1:'active'}[pwSafety]"></div>
            <div ng-class="{2:'active'}[pwSafety]"></div>
            <div ng-class="{3:'active'}[pwSafety]"></div>
            <div ng-class="{4:'active'}[pwSafety]"></div>
        </div>
    </div>
    <label>
        <input type="checkbox" ng-model="pwTemp">
        Passwort muss bei erster Anmeldung geändert werden
    </label>
</div>