<div class="full">
    <label>Kontotyp:</label>
    <span ng-switch="input.type">
        <span ng-switch-when="1">Superuser</span>
        <span ng-switch-when="2">Administrator</span>
        <span ng-switch-when="3">Restaurant</span>
    </span><br/>
    <br/>
    <label>Grunddaten:</label><br/>
    <input type="text" placeholder="Email-Adresse" ng-model="input.email"/><br/>
    <input type="text" placeholder="Vorname" ng-keyup="generateUsername()" ng-model="input.firstname"/><br/>
    <input type="text" placeholder="Nachname" ng-keyup="generateUsername()" ng-model="input.lastname"/><br/>
    <br/>
    <label>Benutzername:</label><br/>
    <input type="text" ng-model="input.username" readonly/><i class="material-icons tooltipRight" title="Der Benutzername wird generiert.">help_outline</i><br/>
    <br/>
    <button ng-show="!resetPassword" ng-click="resetPassword = true"><i class="material-icons">lock_outline</i> Passwort zurücksetzen</button>
    <div ng-show="resetPassword">
    <label>Neues Passwort:</label><br/>
    <input type="text" class="short" name=password" ng-model="input.password">
    <button ng-click="generatePassword()"><i class="material-icons">autorenew</i> Generieren</button>
    <button ng-click="resetPassword = false"><i class="material-icons">close</i> Abbrechen</button><br/>
    <label>
        <input type="checkbox" ng-model="input.pwTemp" ng-true-value="1" ng-false-value="0">
        Passwort muss bei nächster Anmeldung geändert werden
    </label>
    </div>
</div>