<div class="loginWrapper" ng-controller="PasswordSettingsController">
    <h2>{{ route.title | translate }}</h2>
    <h3>{{ route.subtitle | translate }}</h3>
    <form ng-submit="complete('pwReset/password')">
        <div class="pwChange">
            <input type="password" spellcheck="false" placeholder="{{ 'NEW-PASSWORD' | translate }}" ng-model="pwForgot.input.password" ng-keyup="pwValidate(pwForgot.input.password)"/><br/>
            <div class="pwValidation">
                <div ng-class="{'active':pwSafety>=1}"></div>
                <div ng-class="{'active':pwSafety>=2}"></div>
                <div ng-class="{'active':pwSafety>=3}"></div>
                <div ng-class="{'active':pwSafety==4}"></div>
            </div>
            <input type="password" spellcheck="false" placeholder="{{ 'REPETITION' | translate }}" ng-model="pwForgot.input.passwordRepeat"/><br/>
        </div>
        <div class="actions">
            <input type="button" ng-click="back('pwReset/password')" value="{{ 'BACK' | translate }}"/>
            <button type="submit" class="primary">{{ 'NEXT' | translate }}</button>
        </div>
    </form>
</div>