<div class="setupWrapper full">
    <label class="checkbox">
        <input type="checkbox" ng-model="input.general.studentMeals">
        <div></div>
        <span>Anbieter von Schülermahlzeit</span>
    </label>
    <br/>
    <label class="checkbox">
        <input type="checkbox" ng-model="input.general.reservation">
        <div></div>
        <span>Reservierung möglich</span>
    </label>
    <br/>
    <label class="checkbox">
        <input type="checkbox" ng-model="input.general.groupsWelcome">
        <div></div>
        <span>Gruppen erwünscht</span>
    </label>
    <br/>
    <label class="checkbox">
        <input type="checkbox" ng-model="input.general.petsWelcome">
        <div></div>
        <span>Haustiere erlaubt</span>
    </label>
    <br/>
    <label class="checkbox">
        <input type="checkbox" ng-model="input.general.cornKitchen">
        <div></div>
        <span>Vollkornküche</span>
    </label>
    <br/>
    <label class="checkbox">
        <input type="checkbox" ng-model="input.general.acceptsKelteneuro">
        <div></div>
        <span>Zahlung mit Kelteneuro</span>
    </label>
    <br/>
    <label class="checkbox">
        <input type="checkbox" ng-model="input.general.acceptsCard">
        <div>
        </div>
        <span>Zahlung mit Karte</span>
    </label>
    <br/>
    <br/>
    <button ng-click="back('options')"><i class="material-icons">arrow_back</i></button>
    <button ng-click="complete('options')"><i class="material-icons">arrow_forward</i></button>
</div>