<div class="setupWrapper full">
    <p>Welche Zahlungsmöglichkeiten bieten Sie an?</p>
    <label class="checkbox">
        <input type="checkbox" ng-model="setup.input.acceptsKelteneuro">
        <div></div>
        <span>Kelteneuro</span>
    </label>
    <br/>
    <label class="checkbox">
        <input type="checkbox" ng-model="setup.input.acceptsCard">
        <div></div>
        <span>Karte</span>
    </label>
    <br/>
    <br/>
    <button ng-click="back('payments')"><i class="material-icons">arrow_back</i></button>
    <button ng-click="complete('payments')"><i class="material-icons">arrow_forward</i></button>
</div>