<div class="setupWrapper full">
    <h2>{{ route.title }}</h2>
    <h3>{{ route.subtitle }}</h3>
    <p>Welche Zahlungsmöglichkeiten bieten Sie an?</p>
    <form ng-submit="complete('payments')">
        <label class="checkbox">
            <input type="checkbox" ng-model="setup.input.acceptsKelteneuro">
            <div></div>
            <span>Kelteneuro</span>
        </label>
        <br/>
        <label class="checkbox">
            <input type="checkbox" ng-model="setup.input.acceptsCard">
            <div></div>
            <span>Karte</span>
        </label>
        <div class="actions">
            <input type="button" class="back" ng-click="back('payments')"/>
            <button type="submit" class="primary forward"></button>
        </div>
    </form>
</div>