body {
  font-family: $primary-font;
  font-size: 15px;
  color: #444;
  margin: 0;
  padding: 0;
  overflow: hidden; // sothat only container is scrollable

  // For translation
  position: absolute;
  height: 100%;
  width: 100%;
  /*
  -webkit-perspective: 500px;
  perspective: 500px;
  */
}

// Remove browser styles
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  display: none;
  background-color: #f3f3f3;
  position: absolute;
  width: 100%;
  height: 100%;
  //transition: transform .3s ease;
  /*
  -webkit-transform: rotateX(55deg) translateY(100%);
  transform: rotateX(55deg) translateY(100%);
  transform-origin: bottom;
  top: 0;
  transition: bottom .3s;
  */
  &.animate {
    /*
    -webkit-transition: transform .5s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform .8s;
    */
  }
  /*
  &.slideUp {
    animation: slideUp .8s;
    @keyframes slideUp {
      0% {
        bottom: -20%;
      }
      100% {
        bottom: 0;
      }
    }
  }
  */
  &.finished {
    display: block;
    animation: fadeIn .5s ease;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  &.background {
    //bottom: -50%;
  }
}

.overlay {
  visibility: hidden;
  opacity: 0;
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 998;
  -webkit-transition: opacity .3s, visibility .3s;
  -moz-transition: opacity .3s, visibility .3s;
  -ms-transition: opacity .3s, visibility .3s;
  -o-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
  &.visible {
    visibility: visible;
    opacity: .5;
  }
  &.blocker {
    z-index: 9999;
    visibility: visible;
  }
}

.ngdialog {
  &.ngdialog-theme-plain {
    top: 30%;
    padding: 0;
    z-index: 997;
    .ngdialog-overlay {
      background-color: rgba(0, 0, 0, .5);
      animation-duration: .3s;
    }
    .ngdialog-content {
      padding-top: 10px;
      padding-left: 30px;
      font-family: 'Gravity';
      color: #444;
      animation-duration: .4s;
      .close {
        font-size: 30px;
        color: #a8a8a8;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: default;
        &:hover {
          color: #333;
        }
      }
      h2 {
        font-weight: normal;
        margin-top: 0;
      }
      .actions {
        margin-top: 35px;
        text-align: right;
        button {
          background: none;
          color: #444;
          text-transform: uppercase;
          padding: 10px 15px;
          &:hover {
            color: #000;
          }
          &.highlighted {
            background-color: #e74c3c;
            color: #fff;
            &:hover:not([disabled]) {
              background-color: #dc4a3a;
            }
            &:disabled {
              opacity: .5;
            }
          }
        }
      }
    }
  }
  &.ngdialog-theme-cropper {
    top: 20%;
    .ngdialog-content {
      padding-top: 40px;
      .cropper {
        padding-right: 20px;
        img-crop {
          font-size: 30px;
          height: 300px;
          z-index: 999;
        }
      }
      .color {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        vertical-align: middle;
      }
      .restDays {
        input {
          width: 100px;
        }
        textarea {
          width: calc(100% - 20px);
          height: 100px;
        }
      }
      .actions {
        button {
          &.highlighted {
            background-color: #27bf71;
            color: #fff;
            &:hover:not([disabled]) {
              background-color: #27ae60;
            }
          }
        }
      }
    }
  }
}

.popup {
  background-color: #fff;
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  padding: 30px;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -ms-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  &.visible {
    opacity: 1;
  }
  &.large {
    width: 600px;
    height: 300px;
    margin-left: calc((300px + 30px) * -1);
    margin-top: calc((150px + 30px * 2) * -1); // plus padding top and bottom
  }
  .close {
    font-size: 30px;
    color: #a8a8a8;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    &:hover {
      color: #333;
    }
  }
  h2 {
    font-weight: normal;
    margin-top: 0;
  }
  navigation {
    display: inline-block;
    border-right: 1px solid #333;
    width: 40%;
    height: 90%;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        padding: 8px 0;
        color: #444;
        cursor: pointer;
        i {
          font-size: 22px;
          margin-right: 5px;
          vertical-align: middle;
        }
        &:hover {
          color: #000;
        }
      }
    }
  }
  content {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 15px;
    .title {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    textarea {
      width: calc(100% - 35px - 8px);
      height: 60px;
      margin: 5px 0 5px 0;
    }
    input {
      width: 70%;
    }
    button.done {
      display: block;
      float: right;
      background: none;
      border: 1px solid #000;
      border-radius: 50%;
      margin-top: 10px;
      padding: 5px;
    }

    table {
      width: 100%;
      border-spacing: 0;
      tr {
        cursor: default;
        &:first-of-type {
          background-color: #f2f2f2;
        }
        &:hover {
          td {
            color: #000;
          }
        }
      }
      th {
        font-weight: normal;
        text-align: left;
      }
      th, td {
        padding: 4px 8px;
      }
      td {
        color: #666
      }
    }
  }
  .action {
    position: absolute;
    right: 20px;
    bottom: 20px;
    i {
      color: #666;
      text-align: center;
      width: 35px;
      height: 35px;
      margin-left: 10px;
      line-height: 35px;
      border: 1px solid #666;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        color: #333;
        border-color: #333;
      }
    }

  }
  @keyframes popUp {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }
}

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #bebebe;
}

.container {
  display: inline-block;
  position: absolute;
  width: calc(77% - 50px * 2);
  height: calc(100% - 70px - 80px);
  left: 23%;
  padding: 40px 50px;
  overflow: auto; // sothat only container is scrollable

  .view {
    height: 100%;
  }

  .switchBox {
    h2 {
      display: inline-block;
      font-size: 20px;
      font-weight: normal;
      line-height: 50px;
      padding: 0;
      margin: 0;
    }
    .switcher {
      position: absolute;
      right: 50px;
      top: 35px;
      li {
        display: inline;
        a {
          color: #333;
          padding: 6px 8px;
          margin-left: 6px;
          border-radius: 20px;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: #000;
          }
          &.active {
            background-color: #e74c3c;
            color: #fff;
          }
        }
      }
    }
    .switchWrapper {
      float: right;
      span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
      label {
        vertical-align: middle;
        input:checked + .slider {
          background-color: #e74c3c;
        }
      }
    }
  }
  .feedbackGroup {
    padding-top: 60px;
  }
  .dashboardBox, .feedbackBox {
    display: inline-block;
    opacity: 0;
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 250px;
    padding: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
    vertical-align: top;
    cursor: default;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -ms-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
    @include animate-popIn();
    &:nth-of-type(1) {
      @include animate-popIn();
    }
    &:nth-of-type(2) {
      @include animate-popIn(.05s);
    }
    &:nth-of-type(3) {
      @include animate-popIn(.1s);
    }
    &:nth-of-type(4) {
      @include animate-popIn(.105s);
    }
    &:nth-of-type(5) {
      @include animate-popIn(.2s);
    }
    &:nth-of-type(6) {
      @include animate-popIn(.205s);
    }
    &:nth-of-type(7) {
      @include animate-popIn(.3s);
    }
    &:nth-of-type(8) {
      @include animate-popIn(.305s);
    }
    &:nth-of-type(9) {
      @include animate-popIn(.4s);
    }
    &:nth-of-type(10) {
      @include animate-popIn(.1405);
    }

    @keyframes popIn {
      0% {
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    .notification {
      position: absolute;
      font-size: 15px;
      color: #fff;
      top: -15px;
      right: -15px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      -webkit-transition: background-color .1s;
      -moz-transition: background-color .1s;
      -ms-transition: background-color .1s;
      -o-transition: background-color .1s;
      transition: background-color .1s;

      i {
        font-size: 15px;
        line-height: 30px;
      }

      &.success {
        background-color: #01DF01;
        background-image: url('../Assets/Icons/done_white.png');
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.alert {
        background-color: #FF0000;
      }

      &.warning {
        background-color: #F7CA18;
        &:after {
          content: '!';
        }
      }

      &.info {
        background-color: #2980b9;
        &:after {
          content: 'i';
        }
      }

      &.version {
        background-color: #2980b9;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
      }
    }

    .title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .text {
      font-size: 16px;
    }
  }
  .dashboardBox {
    color: #444;
    text-decoration: none;
    &:hover {
      -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      .notification {
        &.success {
          background-color: darken(#01DF01, 2%);
        }
        &.alert {
          background-color: darken(#FF0000, 2%);
        }
        &.warning {
          background-color: darken(#F7CA18, 2%);
        }
      }
    }
  }
  .feedbackBox {
    i {
      font-size: 20px;
      vertical-align: middle;
    }
    &:hover .actions {
      transform: scale(1);
    }
    .actions {
      transform: scale(0);
      position: absolute;
      top: -15px;
      right: -15px;
      -webkit-transition: background-color .1s, visibility .3s;
      -moz-transition: background-color .1s;
      -ms-transition: background-color .1s;
      -o-transition: background-color .1s;
      transition: background-color .1s, transform .3s cubic-bezier(.17, .67, .55, 1.17);
    }
    .action {
      display: inline-block;
      font-size: 15px;
      color: #fff;
      width: 30px;
      height: 30px;
      margin-left: 5px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;

      i {
        font-size: 15px;
        line-height: 30px;
      }

      &.accept {
        background-color: #01DF01;
        right: -15px;
        &:hover {
          background-color: darken(#01DF01, 5%);
        }
      }

      &.decline {
        background-color: #FF0000;
        right: 25px;

        &:hover {
          background-color: darken(#FF0000, 5%);

        }
      }
    }
    .subject {
      font-size: 18px;
      margin-bottom: 5px;
    }
    .rating {
      display: inline-block;
      width: 20%;
      font-size: 80px;
      right: 0;
      opacity: .4;
      vertical-align: middle;
    }
    .content {
      display: inline-block;
      margin-left: 5%;
      width: 70%;
      vertical-align: middle;
    }
  }

  .fullBox {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 100%;
    height: auto;
    min-height: 100%;
    .title {
      font-size: 20px;
      background-color: #2b2f38;
      color: #fff;
      margin-bottom: 10px;
      &.loading {
        text-transform: uppercase;
      }
      &.success {
        background-color: #2ecc71;
        text-transform: uppercase;
      }
      &.error {
        background-color: #e74c3c;
        text-transform: uppercase;
      }
      h2, a {
        display: inline-block;
        font-size: 20px;
        font-weight: normal;
        color: #fff;
        line-height: 50px;
        padding: 0 20px;
        margin: 0;
        text-decoration: none;
        &.tab {
          line-height: 47px;
          border-top: 3px solid #2b2f38;
          cursor: pointer;
          &.active {
            background-color: #fff;
            color: #333;
          }
        }
      }
      .actions {
        float: right;
        cursor: pointer;
        a {
          display: inline-block;
          padding: 0 15px;
          line-height: normal;
          color: #fff;
          i {
            line-height: 50px;
          }
          &:hover {
            background-color: #21262f;
          }
        }
      }
    }
    .content {
      padding: 12px 20px;
      font-size: 0;
      .left {
        display: inline-block;
        font-size: 16px;
        width: 50%;
        vertical-align: top;
      }
      .right {
        display: inline-block;
        font-size: 16px;
        width: 50%;
        vertical-align: top;
      }
      .appUp {
        color: #e74c3c;
      }
      .appDown {
        color: #62C462;
      }
      .switchWrapper {
        span {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }
        label {
          vertical-align: middle;
          .slider {
            background-color: #e74c3c;
          }
          input:checked + .slider {
            background-color: #62C462;
          }
        }
      }
      .users {
        font-size: 16px;
        background-color: #fafafa;
        width: 100%;
        border-spacing: 0;
        cursor: default;
        tr {
          height: 40px;
          line-height: 40px;
          &:last-of-type {
            td {
              border-bottom: 0;
            }
          }
          &:hover {
            td {
              border-color: #d2d2d2;
            }
            .actions {
              div, a {
                float: right;
                background-color: #e2e2e2;
                display: inline-block;
              }
            }
          }
        }
        th {
          padding: 0 15px;
          background-color: #e9e9e9;
          text-align: left;
          font-weight: normal;
          &.sortable:hover {
            background-color: #d7d7d7;
            background-image: url('../Assets/Icons/arrow_down.png');
            background-position: right 10px center;
            background-size: 15px;
            background-repeat: no-repeat;
          }
        }
        td {
          padding: 0 15px;
          border-bottom: 1px solid #e2e2e2;
          &:nth-of-type(1) {
            width: 25%;
          }
          &:nth-of-type(2) {
            width: 20%;
          }
          &:nth-of-type(3) {
            width: 20%;
          }
          &:nth-of-type(4) {
            width: 25%;
          }
          &.actions {
            width: 10%;
            padding: 0;
            font-size: 0;
            div, a {
              display: none;
              text-align: center;
              width: 50%;
              color: #333;
              &:hover {
                opacity: 1;
                background-color: #d8d8d8;
              }
            }
          }
        }
      }
      .full {
        font-size: 16px;
      }
      .tagBox {
        margin-top: 10px;
      }
      .remover {
        position: absolute;
      }
      .veggieWrapper {
        display: inline-block;
        label:first-of-type {
          margin-bottom: 10px;
        }
      }
      .icon {
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }
      textarea {
        width: 80%;
        height: 150px;
        margin: 5px 5px 5px 0;
        vertical-align: top;
        &.short {
          width: 40%;
          height: 100px;
        }
        &.low {
          height: 80px;
        }
      }
      h3 {
        font-size: 16px;
        font-weight: normal;
        margin-top: 20px;
        margin-bottom: 10px;
        &:first-of-type {
          margin-top: 5px;
        }
      }
      .langLinks {
        margin-top: 10px;
        margin-bottom: 10px;
        .langLink {
          font-size: 14px;
          padding: 4px 10px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            color: #000;
          }
          &.active {
            background-color: #3498db;
            color: #fff;
          }
        }
      }
      i {
        font-size: 20px;
        vertical-align: middle;
        cursor: default;
      }
      button {
        height: 31px;
        padding: 0 20px;
        vertical-align: middle;
      }
      .openingHours.sleep {
        color: #c6c6c6;
        label {
          text-decoration: line-through;
        }
      }
      .openingTimes, .restDays {
        margin-bottom: 5px;
        div {
          display: inline-block;
          span {
            display: inline-block;
            &:first-of-type {
              width: 100px;
            }
            &:last-of-type {
              width: 150px;
            }
          }
        }
        i {
          &:hover {
            color: #dc4a3a;
          }
        }
      }
      .days {
        width: 100%;
        text-align: center;
        .day {
          opacity: 0;
          display: inline-block;
          font-size: 16px;
          background-color: #f2f2f2;
          color: #c3c3c3;
          line-height: 120px;
          width: calc(100% / 7 - 4px);
          height: 120px;
          margin-right: 4px;
          text-align: center;
          vertical-align: top;
          cursor: default;
          &:nth-of-type(1) {
            @include animate-slideDown();
          }
          &:nth-of-type(2) {
            @include animate-slideDown(.05s);
          }
          &:nth-of-type(3) {
            @include animate-slideDown(.1s);
          }
          &:nth-of-type(4) {
            @include animate-slideDown(.15s);
          }
          &:nth-of-type(5) {
            @include animate-slideDown(.2s);
          }
          &:nth-of-type(6) {
            @include animate-slideDown(.25s);
          }
          &:nth-of-type(7) {
            @include animate-slideDown(.3s);
          }
          &:last-of-type {
            margin-right: 0;
            width: calc(100% / 7);
          }
          &.closed {
            background-color: #e2e2e2;
            div {
              text-decoration: line-through;
            }
          }
          .closed, .constant {
            position: absolute;
            right: 10px;
            top: 5px;
            color: #e2e2e2;
          }
          .constant {
            display: none;
            right: 30px;
            &.active {
              color: #333;
            }
          }
          .closedTag {
            position: absolute;
            bottom: -40px;
            left: 20px;
            height: 60px;
            .animate {
              animation: tag 1s;
            }
            @keyframes tag {
              0%, 100% {
                transform: rotate(0deg);
              }
              20% {
                transform: rotate(5deg);
              }
              40% {
                transform: rotate(-5deg);
              }
              60% {
                transform: rotate(2deg);
              }
              80% {
                transform: rotate(-2deg);
              }
            }
          }
          &:hover {
            .closed, .constant {
              color: #333;
            }
          }
          .text {
            display: inline-block;
            line-height: normal;
            vertical-align: middle;
            .date {
              font-size: 14px;
            }
          }
          .menu {
            font-size: 14px;
            height: 40px;
            line-height: 40px;
            position: relative;
            .remove {
              display: none;
              font-size: 30px;
              position: absolute;
              width: 100%;
              left: 0;
              line-height: 40px;
              color: #fff;
            }
            &.yellow {
              background-color: #f39c12;
              .remove {
                background-color: darken(#f39c12, 10%);
              }
            }
            &.red {
              background-color: #e74c3c;
              .remove {
                background-color: darken(#e74c3c, 10%);
              }
            }
            &.brown {
              background-color: #d35400;
              .remove {
                background-color: darken(#d35400, 10%);
              }
            }
            &:hover .remove {
              display: inline;
            }
          }
          .done {
            background-color: #27ae60;
            color: #fff;
            //animation: scaleIn .6s;
            position: relative;
            @keyframes scaleIn {
              0% {
                transform: scale(1);
              }
              50% {
                transform: scale(0);
              }
              100% {
                transform: scale(1);
              }
            }
          }
        }
      }
      .mealIndicator {
        opacity: 0;
        font-size: 16px;
        color: #000;
        text-align: right;
        margin-top: 40px;
        @include animate-slideIn(.35s);
        span {
          border-left: 2px solid;
          padding-left: 4px;
          &.veggie {
            border-color: #69c800;
          }
        }
      }
      .menunames {
        font-size: 0;
        width: 100%;
        margin-top: 20px;
        .menutype {
          opacity: 0;
          display: inline-block;
          font-size: 16px;
          background-color: #fafafa;
          width: 32%;
          margin-right: 2%;
          vertical-align: top;
          &.appetizer {
            @include animate-slideIn(.1s);
            label {
              background-color: #f39c12;
            }
          }
          &.mainCourse {
            @include animate-slideIn(.15s);
            label {
              background-color: #e74c3c;
            }
          }
          &.desert {
            @include animate-slideIn(.2s);
            label {
              background-color: #d35400;
            }
          }
          &:last-of-type {
            margin-right: 0;
          }
          label {
            color: #fff;
            padding: 10px 0;
            text-align: center;
            width: 100%;
            text-transform: uppercase;
            i {
              cursor: pointer;
            }
            .searchbox {
              background-color: transparent;
              color: #fff;
              border-bottom: 1px solid #fff;
              margin: 0;
              padding: 0;
            }
            a {
              color: #fff;
            }
            .search {
              position: absolute;
              right: 40px;
            }
            .add {
              position: absolute;
              right: 10px;
            }
          }
          .menuWrapper {
            max-height: 300px;
            overflow-y: auto;
            .empty {
              text-align: center;
              margin-top: 8px;
              margin-bottom: 8px;
              i, span {
                vertical-align: middle;
              }
            }
            .menu {
              position: relative;
              display: inline-block;
              font-size: 16px;
              color: #333;
              opacity: 1;
              padding: 8px 12px;
              border-bottom: 1px solid #d2d2d2;
              border-left: 3px solid transparent;
              width: calc(100% - 27px);
              cursor: move;
              z-index: 1;
              &.veggie {
                border-left: 2px solid #69c800;
              }
              &:hover {
                background-color: #e8e8e8;
                .remove {
                  display: block;
                }
              }
              .remove {
                display: none;
                float: right;
              }
            }
          }
        }
      }
    }
  }
}

.globalNotification {
  background-size: 30px;
  background-position: center left 20px;
  background-repeat: no-repeat;
  position: fixed;
  color: #fff;
  font-size: 18px;
  padding: 20px 60px;
  text-align: center;
  top: 0;
  opacity: 0;
  z-index: 999;
  transform: scale(0);
  transition: top .4s ease, transform .2s ease, opacity .4s ease;
  cursor: default;
  &.visible {
    opacity: 1;
    top: 20px;
    transform: scale(1);
  }
  &.success {
    background-color: #2ecc71;
    background-image: url('../Assets/Icons/done_white.png');
  }
  &.warning {
    background-color: #f39c12;
    background-image: url('../Assets/Icons/warning.png');
  }
  &.loginWarn {
    background-color: rgba(0, 0, 0, 0.4);
  }
  &.error {
    background-color: #e74c3c;
    background-image: url('../Assets/Icons/close.png');
  }
}

.loadingSpinner {
  display: inline;
  margin-right: 15px;
  .loading {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #E6E6E6;
    border-top: 2px solid #e67e22;
    border-radius: 50%;
    animation: drey 1s ease infinite;
    vertical-align: middle;
  }
}

@keyframes drey {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.serverLost {
  display: none;
  margin-right: 15px;
  color: #fff;
  background-color: #e74c3c;
  padding: 5px 8px;
  border-radius: 10px;
  opacity: .7;
  animation: pulse 2s ease infinite;
  &.active {
    display: inline;
  }
}

.serverConnected {
  display: none;
  margin-right: 18px;
  color: #fff;
  background-color: #27ae60;
  padding: 5px 8px;
  border-radius: 10px;
  opacity: .7;
  animation: pulse .5s ease infinite;
  &.active {
    display: inline;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: .4;
  }

  50% {
    opacity: .7;
  }
}

/* food-add */

.menucategory {
  select {
    background-color: red;
  }

}

