<i class="material-icons close tooltipBottom" ng-click="closeThisDialog()" title="Schließen">close</i>
<content>
    Hex-Code
    <br/>
    <input class="hexColor" type="text" placeholder="#RRGGBB" ng-model="color" ng-keyup="isHex(color)"/>
    <div class="color" ng-show="hexValid" ng-style="{'background-color': color}"></div>
</content><br/>
<div class="actions">
    <button class="action" ng-click="closeThisDialog()">Abbrechen</button>
    <button class="action highlighted" ng-click="setColor(color); closeThisDialog()" ng-disabled="!hexValid">Ok</button>
</div>