<i class="material-icons close tooltipBottom" ng-click="closeThisDialog()" title="{{ 'CLOSE' | translate }}">close</i>
<content>
    Bild zuschneiden
    <br/>
    <br/>
    <div class="cropper">
        <img-crop image="myImage" area-type="rectangle" aspect-ratio="1.5" result-image-size="512" result-blob="croppedImg"></img-crop>
    </div>
    <br/>
    <label class="checkbox">
        <input type="checkbox" ng-model="mainImg" ng-true-value="1">
        <div></div>
        <span>Als Hauptbild einstellen</span>
    </label>
</content><br/>
<div class="actions">
    <button class="action" ng-click="closeThisDialog()">{{ 'CANCEL' | translate }}</button>
    <button class="action highlighted" ng-click="uploadImg(croppedImg, mainImg); closeThisDialog()">{{ 'CROP' | translate }}</button>
</div>