<i class="material-icons close tooltipBottom" ng-click="closeThisDialog()" title="Schließen">close</i>
<content>
    Öffnungszeit eintragen
    <br/>
    <br/>
    <select ng-model="weekdays.selected" ng-options="option.name for option in weekdays.options track by option.id"></select>
    <br/>
    <br/>
    <label class="long">Von:</label><input type="text" class="short" placeholder="00:00" ng-model="openingTimeFrom"/>
    <br/>
    <label class="long">Bis:</label><input type="text" class="short" placeholder="00:00" ng-model="openingTimeTo"/>
</content><br/>
<div class="actions">
    <button class="action" ng-click="closeThisDialog()">Abbrechen</button>
    <button class="action highlighted" ng-click="openingTimeAdd(openingTimeFrom, openingTimeTo); closeThisDialog()">Eintragen</button>
</div>
<script>
    selectln()
</script>