<i class="material-icons close tooltipBottom" ng-click="closeThisDialog()" title="{{ 'CLOSE' | translate }}">close</i>
<content>
    Öffnungszeit eintragen
    <br/>
    <br/>
    <label class="long">Tag:</label><select ng-model="weekdays.selected" ng-options="option.name for option in weekdays.options track by option.id"></select>
    <br/>
    <br/>
    <label class="long">Von:</label><input type="text" class="short" placeholder="00:00" ng-model="openingTimeFrom" ng-change="validateOpeningTimes(openingTimeFrom, openingTimeTo)"/>
    <br/>
    <label class="long">Bis:</label><input type="text" class="short" placeholder="00:00" ng-model="openingTimeTo" ng-change="validateOpeningTimes(openingTimeFrom, openingTimeTo)"/>
</content><br/>
<div class="actions">
    <button class="action" ng-click="closeThisDialog()">{{ 'CANCEL' | translate }}</button>
    <button class="action highlighted" ng-click="openingTimeAdd(weekdays.selected.id, openingTimeFrom, openingTimeTo) && closeThisDialog()" ng-disabled="!validOpeningTimes">{{ 'ENTER' | translate }}</button>
</div>
<script>
    selectln()
</script>