<i class="material-icons close tooltipBottom" ng-click="closeThisDialog()" title="{{ 'CLOSE' | translate }}">close</i>
<content>
    Hex-Code
    <br/>
    <input class="hexColor" type="text" placeholder="#RRGGBB" ng-model="color" ng-keyup="isHex(color)"/>
    <div class="color" ng-show="hexValid" ng-style="{'background-color': color}"></div>
</content><br/>
<div class="actions">
    <button class="action" ng-click="closeThisDialog()">{{ 'CANCEL' | translate }}</button>
    <button class="action highlighted" ng-click="setColor(color); closeThisDialog()" ng-disabled="!hexValid">{{ 'OK' | translate }}</button>
</div>