
@font-face {
  font-family: 'Gravity Light';
  src: url('../../assets/fonts/Gravity-Light.eot');
  src: url('../../assets/fonts/Gravity-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/Gravity-Light.woff') format('woff')
}

@font-face {
  font-family: 'Gravity';
  src: url('../../assets/fonts/Gravity-Regular.eot');
  src: url('../../assets/fonts/Gravity-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/Gravity-Regular.woff') format('woff')
}
$primary-font: "Gravity Light";
body{
  font-family: $primary-font;
  background-color: #f3f3f3;
  color: #333;


  .devs {
    margin-top: -200px;
    position: absolute;
   right: 50px;
    font-size: 20px;


    .we{
      color: #333;
      text-decoration: none;
    }

    .whoarewe{
      color: #333;
      text-decoration:none;
    }

  }

h1{
  text-align: center;
  margin-top: 180px;
  font-size: 55px;
}

.loginwrapper{
  width:330px;
  position:absolute;
  left: 50%;
  margin-left: -180px;
  text-align: right;



}

input{
  margin-top:20px;
  background-color: rgba(0,0,0,0.0);
  border-color: black;
  border: solid 1px;
  width: calc(244px - 50px);
  height: 35px;
  border-radius: 90px;
  padding-left: 50px;
  padding-right:50px;

}

.passwordlost{
  font-size: 19px;
  margin-left: 30px;
  text-decoration: none;
  color: #333;
  vertical-align: middle;
  padding-right: 60px;
}
  .doneicon{
    font-size:48px;
    border: solid 1px;
    border-radius: 100px;
    vertical-align: middle;

  }

  .passwordlostbox{
    margin-top: 30px;

    right:0;

  }
  .usericon{
  font-size:26px;
  display: inline-block;
  position: absolute;
    margin-top: 25px;
    margin-left: 5px;


}

.passwordicon{
  font-size:26px;
  display: inline-block;
   position: absolute;
  margin-top: 85px;
  margin-left: -290px;



}




}
