@media screen and (max-width: 650px) {
  .topbar .headline {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .topbar .burgericon {
    display: inline;
  }
  .navbar{
    display: none;
  }
  .container{
    left: 0;
    width: calc(100% - 64px - 20px * 2);
    height: calc(100% - 70px - 40px);
    padding: 20px;
  }
}