input {
  outline: 0; }

*:focus {
  outline: none; }

input[type=radio] {
  visibility: hidden; }

label {
  font-size: 16px; }
  label.top {
    vertical-align: top; }

label.checkLabel {
  position: relative; }
  label.checkLabel:before {
    visibility: visible;
    content: '';
    position: absolute;
    background-color: #f2f2f2;
    width: 15px;
    height: 15px;
    left: -20px;
    border-radius: 50%; }

input[type=text], input[type=password] {
  background-color: #f2f2f2;
  border: 0;
  border-radius: 0;
  margin: 5px 5px 5px 0;
  padding: 8px;
  width: 50%;
  height: auto; }
  input[type=text].short, input[type=password].short {
    width: 20%; }
  input[type=text].shorter, input[type=password].shorter {
    width: 40px; }
  input[type=text].longest, input[type=password].longest {
    width: 100%; }
  input[type=text]:disabled, input[type=password]:disabled {
    background-color: #f7f7f7;
    color: #999; }

input[type=radio]:checked + label:after {
  visibility: visible;
  content: '';
  position: absolute;
  background-color: #555;
  width: 7px;
  height: 7px;
  top: 4px;
  left: -16px;
  border-radius: 50%; }

input[type=checkbox] {
  visibility: hidden; }
  input[type=checkbox]:after {
    visibility: visible;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #f2f2f2; }
  input[type=checkbox]:checked:after {
    background-image: url("../../assets/icons/done.png");
    background-size: cover; }

button {
  background-color: #f2f2f2;
  border: 0;
  outline: 0;
  padding: 6px 20px; }
  button i {
    vertical-align: middle; }
  button:hover {
    background-color: #e9e9e9; }

textarea {
  font-family: inherit;
  background-color: #f2f2f2;
  background-image: url("../../assets/icons/edit.png");
  background-size: 20px;
  background-position: right 3px top 3px;
  background-repeat: no-repeat;
  border: 0;
  outline: 0;
  resize: none;
  padding: 8px 35px 8px 8px; }

.tag {
  display: inline-block;
  background-color: #ec5555;
  color: #fff;
  padding: 0 14px 0 20px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 20px; }
  .tag i {
    margin-left: 2px; }
  .tag.red {
    background-color: #ec5555; }
  .tag.yellow {
    background-color: #f39c12; }
  .tag.orange {
    background-color: #e67e22; }
  .tag.empty {
    background-color: #eaeaea;
    color: #444;
    padding: 0 14px 0 14px;
    min-width: 100px;
    outline: 0; }

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-placeholder);
  opacity: 0.6; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.pwChange {
  width: 80%; }
  .pwChange input[type=password] {
    width: calc(100% - 16px); }
  .pwChange .pwValidation {
    font-size: 0;
    height: 2px;
    margin-bottom: 5px; }
    .pwChange .pwValidation div {
      display: inline-block;
      background-color: #e8e8e8;
      width: calc(22.75%);
      height: 2px;
      vertical-align: top;
      margin-right: 3%;
      -webkit-transition: background-color .2s ease;
      -moz-transition: background-color .2s ease;
      -ms-transition: background-color .2s ease;
      -o-transition: background-color .2s ease;
      transition: background-color .2s ease; }
      .pwChange .pwValidation div:nth-of-type(1).active {
        background-color: #e74c3c; }
      .pwChange .pwValidation div:nth-of-type(2).active {
        background-color: #e67e22; }
      .pwChange .pwValidation div:nth-of-type(3).active {
        background-color: #f1c40f; }
      .pwChange .pwValidation div:last-of-type {
        margin-right: 0; }
        .pwChange .pwValidation div:last-of-type.active {
          background-color: #27ae60; }

@font-face {
  font-family: 'Gravity Light';
  src: url("../../assets/fonts/Gravity-Light.eot");
  src: url("../../assets/fonts/Gravity-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Gravity-Light.woff") format("woff"); }
@font-face {
  font-family: 'Gravity Book';
  src: url("../../assets/fonts/Gravity-Book.eot");
  src: url("../../assets/fonts/Gravity-Book.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Gravity-Book.woff") format("woff"); }
@font-face {
  font-family: 'Gravity';
  src: url("../../assets/fonts/Gravity-Regular.eot");
  src: url("../../assets/fonts/Gravity-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Gravity-Regular.woff") format("woff"); }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
body {
  font-family: "Gravity", sans-serif;
  font-size: 15px;
  background-color: #f3f3f3;
  color: #444;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-perspective: 500px;
  /* Chrome, Safari, Opera */
  perspective: 500px; }

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(45deg) scale(1);
  transform: rotateX(45deg) scale(0.6);
  transform-origin: bottom;
  /*
    -webkit-transition: transform 2s;
    -moz-transition: transform 2s;
    -ms-transition: transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
  */ }
  .wrapper.finished {
    -webkit-transform: rotateX(0deg) scale(1);
    /* Chrome, Safari, Opera  */
    transform: rotateX(0deg) scale(1);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0); }

.overlay {
  visibility: hidden;
  opacity: 0;
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 998;
  -webkit-transition: opacity .3s, visibility .3s;
  -moz-transition: opacity .3s, visibility .3s;
  -ms-transition: opacity .3s, visibility .3s;
  -o-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s; }
  .overlay.visible {
    visibility: visible;
    opacity: .5; }

.popup {
  background-color: #fff;
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  padding: 30px;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -ms-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s; }
  .popup.visible {
    opacity: 1; }
  .popup.large {
    width: 600px;
    height: 300px;
    margin-left: -300px;
    margin-top: calc((150px + 30px * 2) * -1); }
  .popup .close {
    font-size: 30px;
    color: #999;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: default; }
    .popup .close:hover {
      color: #000; }
  .popup h2 {
    font-weight: normal;
    margin-top: 0; }
  .popup navigation {
    display: inline-block;
    border-right: 1px solid #333;
    width: 40%;
    height: 90%; }
    .popup navigation ul {
      padding: 0;
      margin: 0; }
      .popup navigation ul li {
        list-style: none;
        padding: 8px 0;
        color: #444;
        cursor: default; }
        .popup navigation ul li i {
          font-size: 22px;
          margin-right: 5px;
          vertical-align: middle; }
        .popup navigation ul li:hover {
          color: #000; }
  .popup content {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 15px; }
    .popup content .title {
      margin-top: 10px;
      margin-bottom: 20px; }
    .popup content textarea {
      width: calc(100% - 35px - 8px);
      height: 60px;
      margin: 5px 0 5px 0; }
    .popup content .profileImage {
      position: absolute;
      margin-left: 15px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      vertical-align: middle; }
    .popup content button.done {
      float: right;
      background: none;
      border: 1px solid #000;
      border-radius: 50%;
      margin-top: 10px;
      padding: 5px; }
    .popup content table {
      width: 100%;
      border-spacing: 0; }
      .popup content table tr {
        cursor: default; }
        .popup content table tr:first-of-type {
          background-color: #f2f2f2; }
        .popup content table tr:hover td {
          color: #000; }
      .popup content table th {
        font-weight: normal;
        text-align: left; }
      .popup content table th, .popup content table td {
        padding: 4px 8px; }
      .popup content table td {
        color: #666; }
  .popup .action {
    position: absolute;
    right: 50px;
    bottom: 30px; }
    .popup .action i {
      color: #666;
      text-align: center;
      width: 35px;
      height: 35px;
      margin-left: 10px;
      line-height: 35px;
      border: 1px solid #666;
      border-radius: 50%;
      cursor: default; }
      .popup .action i:hover {
        color: #333;
        border-color: #333; }
@keyframes popUp {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.topbar {
  position: relative;
  background-color: #fff;
  height: 75px;
  line-height: 75px;
  padding: 0 30px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 999;
  cursor: default; }
  .topbar .burgericon {
    display: none;
    margin-right: 30px;
    vertical-align: middle; }
  .topbar .headline {
    font-size: 28px;
    font-weight: normal;
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: middle; }
  .topbar .user {
    display: inline-block;
    position: absolute;
    right: 20px; }
    .topbar .user img {
      margin-left: 15px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      vertical-align: middle; }
    .topbar .user .icon {
      width: auto;
      height: 10px; }
  .topbar .options {
    display: none;
    position: absolute;
    width: 250px;
    top: 75px;
    right: 0;
    background-color: #fff;
    line-height: 22px;
    z-index: 999;
    cursor: default;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3); }
    .topbar .options ul {
      padding: 0; }
      .topbar .options ul li {
        list-style: none;
        padding: 8px 30px;
        color: #777; }
        .topbar .options ul li:hover {
          color: #000; }
          .topbar .options ul li:hover#logout {
            color: #e74c3c; }
  .topbar .user:hover + .options, .topbar .options:hover {
    display: block; }

.navbar {
  display: inline-block;
  position: absolute;
  font-family: 'Gravity Light';
  font-size: 18px;
  background-color: #2b2f38;
  color: #fff;
  min-width: 23%;
  height: calc(100% - 70px);
  cursor: default; }
  .navbar ul {
    padding: 0; }
    .navbar ul .icon {
      width: 40px;
      height: 40px;
      margin-right: 8px;
      vertical-align: middle; }
    .navbar ul a {
      color: #fff;
      text-decoration: none;
      cursor: default; }
    .navbar ul li {
      list-style: none;
      padding: 25px 30px; }
      .navbar ul li:hover, .navbar ul li.active {
        background-color: #21262f; }
      .navbar ul li .notification {
        display: inline-block;
        font-size: 15px;
        background-color: #d82b2b;
        color: #fff;
        width: 25px;
        height: 25px;
        margin-left: 10px;
        text-align: center;
        line-height: 25px;
        border-radius: 50%; }

.container::-webkit-scrollbar {
  width: 10px;
  border-radius: 2px; }

.container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9; }

.container::-webkit-scrollbar-thumb:hover {
  background-color: #bebebe; }

.container {
  display: inline-block;
  position: absolute;
  width: calc(77% - 50px * 2);
  height: calc(100% - 70px - 80px);
  left: 23%;
  padding: 40px 50px;
  overflow: auto; }
  .container .view {
    height: 100%; }
  .container .switchBox h2 {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    line-height: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px; }
  .container .switchBox .switcher {
    position: absolute;
    right: 30px;
    top: 35px; }
    .container .switchBox .switcher li {
      display: inline;
      padding: 5px 8px;
      margin-left: 8px;
      border-radius: 20px;
      cursor: default; }
      .container .switchBox .switcher li.active {
        background-color: #e74c3c;
        color: #fff; }
  .container .dashboardBox, .container .feedbackBox {
    display: inline-block;
    opacity: 0;
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 250px;
    padding: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
    vertical-align: top;
    cursor: default;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -ms-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s; }
    .container .dashboardBox:nth-of-type(1), .container .feedbackBox:nth-of-type(1) {
      animation: popIn 0.4s 0s ease forwards; }
    .container .dashboardBox:nth-of-type(2), .container .feedbackBox:nth-of-type(2) {
      animation: popIn 0.4s 0.05s ease forwards; }
    .container .dashboardBox:nth-of-type(3), .container .feedbackBox:nth-of-type(3) {
      animation: popIn 0.4s 0.1s ease forwards; }
    .container .dashboardBox:nth-of-type(4), .container .feedbackBox:nth-of-type(4) {
      animation: popIn 0.4s 0.1s ease forwards; }
    .container .dashboardBox:nth-of-type(5), .container .feedbackBox:nth-of-type(5) {
      animation: popIn 0.4s 0.1s ease forwards; }
    .container .dashboardBox:nth-of-type(6), .container .feedbackBox:nth-of-type(6) {
      animation: popIn 0.4s 0.1s ease forwards; }
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
    .container .dashboardBox .notification, .container .feedbackBox .notification {
      position: absolute;
      font-size: 15px;
      color: #fff;
      top: -15px;
      right: -15px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      -webkit-transition: background-color .1s;
      -moz-transition: background-color .1s;
      -ms-transition: background-color .1s;
      -o-transition: background-color .1s;
      transition: background-color .1s; }
      .container .dashboardBox .notification i, .container .feedbackBox .notification i {
        font-size: 15px;
        line-height: 30px; }
      .container .dashboardBox .notification.success, .container .feedbackBox .notification.success {
        background-color: #01DF01;
        background-image: url("../icons/done_white.png");
        background-size: 75%;
        background-position: center;
        background-repeat: no-repeat; }
      .container .dashboardBox .notification.alert, .container .feedbackBox .notification.alert {
        background-color: #FF0000; }
      .container .dashboardBox .notification.warning, .container .feedbackBox .notification.warning {
        background-color: #F7CA18; }
        .container .dashboardBox .notification.warning:after, .container .feedbackBox .notification.warning:after {
          content: '!'; }
    .container .dashboardBox .title, .container .feedbackBox .title {
      font-size: 20px;
      margin-bottom: 10px; }
    .container .dashboardBox .text, .container .feedbackBox .text {
      font-size: 16px; }
    .container .dashboardBox:hover .notification.success, .container .feedbackBox:hover .notification.success {
      background-color: #01d501; }
    .container .dashboardBox:hover .notification.alert, .container .feedbackBox:hover .notification.alert {
      background-color: #f50000; }
    .container .dashboardBox:hover .notification.warning, .container .feedbackBox:hover .notification.warning {
      background-color: #f7c80e; }
  .container .dashboardBox:active {
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    cursor: move; }
  .container .dashbaordOrder {
    opacity: 0;
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: default;
    animation: fadeIn .3s .4s ease forwards; }
    .container .dashbaordOrder:hover {
      color: #000; }
  .container .feedbackBox {
    transition: left 1s; }
    .container .feedbackBox i {
      font-size: 20px;
      vertical-align: middle; }
    .container .feedbackBox:hover .actions {
      transform: scale(1); }
    .container .feedbackBox .actions {
      transform: scale(0);
      position: absolute;
      top: -15px;
      right: -15px;
      -webkit-transition: background-color .1s, visibility .3s;
      -moz-transition: background-color .1s;
      -ms-transition: background-color .1s;
      -o-transition: background-color .1s;
      transition: background-color 0.1s, transform 0.3s cubic-bezier(0.17, 0.67, 0.55, 1.17); }
    .container .feedbackBox .action {
      display: inline-block;
      font-size: 15px;
      color: #fff;
      width: 30px;
      height: 30px;
      margin-left: 5px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%; }
      .container .feedbackBox .action i {
        font-size: 15px;
        line-height: 30px; }
      .container .feedbackBox .action.accept {
        background-color: #01DF01;
        right: -15px; }
        .container .feedbackBox .action.accept:hover {
          background-color: #01c601; }
      .container .feedbackBox .action.decline {
        background-color: #FF0000;
        right: 25px; }
        .container .feedbackBox .action.decline:hover {
          background-color: #e60000; }
    .container .feedbackBox .subject {
      font-size: 18px;
      margin-bottom: 5px; }
    .container .feedbackBox .rating {
      display: inline-block;
      width: 20%;
      font-size: 80px;
      right: 0;
      opacity: .4;
      vertical-align: middle; }
    .container .feedbackBox .content {
      display: inline-block;
      margin-left: 5%;
      width: 70%;
      vertical-align: middle; }
  .container .fullBox {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 100%;
    height: auto;
    min-height: 100%;
    animation: fadeIn .1s linear; }
    .container .fullBox .title {
      font-size: 20px;
      background-color: #2b2f38;
      color: #fff;
      margin-bottom: 10px; }
      .container .fullBox .title.loading {
        text-transform: uppercase; }
      .container .fullBox .title.success {
        background-color: #2ecc71;
        text-transform: uppercase; }
      .container .fullBox .title.error {
        background-color: #e74c3c;
        text-transform: uppercase; }
      .container .fullBox .title h2 {
        display: inline-block;
        font-size: 20px;
        font-weight: normal;
        line-height: 50px;
        padding: 0 20px;
        margin: 0; }
      .container .fullBox .title .actions {
        float: right;
        line-height: 0; }
        .container .fullBox .title .actions a {
          display: inline-block;
          padding: 0 15px;
          color: #fff;
          cursor: default; }
          .container .fullBox .title .actions a i {
            line-height: 50px; }
          .container .fullBox .title .actions a:hover {
            background-color: #21262f; }
    .container .fullBox .content {
      padding: 12px 20px;
      font-size: 0; }
      .container .fullBox .content .left {
        display: inline-block;
        font-size: 16px;
        width: 50%;
        vertical-align: top; }
      .container .fullBox .content .right {
        display: inline-block;
        font-size: 16px;
        width: 50%;
        vertical-align: top; }
      .container .fullBox .content .users {
        font-size: 16px;
        background-color: #fafafa;
        width: 100%;
        border-spacing: 0;
        cursor: default; }
        .container .fullBox .content .users tr {
          height: 40px;
          line-height: 40px; }
          .container .fullBox .content .users tr:last-of-type td {
            border-bottom: 0; }
          .container .fullBox .content .users tr:hover td {
            border-color: #d2d2d2; }
          .container .fullBox .content .users tr:hover .actions {
            background-color: #e2e2e2; }
            .container .fullBox .content .users tr:hover .actions div {
              display: inline-block; }
        .container .fullBox .content .users th {
          padding: 0 15px;
          background-color: #e9e9e9;
          text-align: left;
          font-weight: normal; }
          .container .fullBox .content .users th.sortable:hover {
            background-color: #d7d7d7;
            background-image: url("../icons/arrow_down.png");
            background-position: right 10px center;
            background-size: 15px;
            background-repeat: no-repeat; }
        .container .fullBox .content .users td {
          padding: 0 15px;
          border-bottom: 1px solid #e2e2e2; }
          .container .fullBox .content .users td:nth-of-type(1) {
            width: 25%; }
          .container .fullBox .content .users td:nth-of-type(2) {
            width: 20%; }
          .container .fullBox .content .users td:nth-of-type(3) {
            width: 20%; }
          .container .fullBox .content .users td:nth-of-type(4) {
            width: 25%; }
          .container .fullBox .content .users td.actions {
            width: 10%;
            padding: 0;
            font-size: 0; }
            .container .fullBox .content .users td.actions div {
              display: none;
              opacity: .6;
              text-align: center;
              width: 50%; }
              .container .fullBox .content .users td.actions div:hover {
                opacity: 1;
                background-color: #d8d8d8; }
      .container .fullBox .content .full {
        font-size: 16px; }
      .container .fullBox .content .tagBox {
        margin-top: 10px; }
      .container .fullBox .content .remover {
        position: absolute; }
      .container .fullBox .content .veggieWrapper {
        display: inline-block; }
        .container .fullBox .content .veggieWrapper label:first-of-type {
          margin-bottom: 10px; }
      .container .fullBox .content textarea {
        width: 80%;
        height: 150px;
        margin: 5px 5px 5px 0;
        vertical-align: top; }
        .container .fullBox .content textarea.short {
          width: 40%;
          height: 100px; }
      .container .fullBox .content h3 {
        font-size: 16px;
        font-weight: normal;
        margin-top: 20px;
        margin-bottom: 10px; }
        .container .fullBox .content h3:first-of-type {
          margin-top: 5px; }
      .container .fullBox .content label {
        display: inline-block;
        margin: 0;
        margin-right: 10px; }
        .container .fullBox .content label i {
          vertical-align: top; }
        .container .fullBox .content label.shorter {
          width: 20px; }
        .container .fullBox .content label.longer {
          width: 100px; }
        .container .fullBox .content label.distance {
          margin-left: 30px; }
      .container .fullBox .content i {
        font-size: 20px;
        vertical-align: middle;
        cursor: default; }
      .container .fullBox .content .openingHours.sleep {
        color: #c6c6c6; }
        .container .fullBox .content .openingHours.sleep label {
          text-decoration: line-through; }
      .container .fullBox .content .restDay {
        margin-bottom: 5px; }
        .container .fullBox .content .restDay div {
          display: inline-block;
          width: 200px; }
      .container .fullBox .content .days {
        width: 100%; }
        .container .fullBox .content .days .day {
          display: inline-block;
          font-size: 16px;
          background-color: #f2f2f2;
          color: #c3c3c3;
          line-height: 90px;
          width: calc(100% / 7 - 4px);
          height: 90px;
          margin-right: 4px;
          text-align: center; }
          .container .fullBox .content .days .day:last-of-type {
            margin-right: 0;
            width: calc(100% / 7); }
          .container .fullBox .content .days .day.done {
            background-color: #27ae60;
            color: #fff;
            position: relative; }
            .container .fullBox .content .days .day.done .remove {
              display: none;
              font-size: 40px;
              position: absolute;
              width: 100%;
              left: 0;
              line-height: 90px;
              background-color: #1e8449; }
            .container .fullBox .content .days .day.done:hover .remove {
              display: inline; }
@keyframes scaleIn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
      .container .fullBox .content .menunames {
        position: relative;
        margin-top: 80px;
        width: 80%;
        left: 10%; }
        .container .fullBox .content .menunames .menu {
          position: relative;
          display: inline-block;
          font-size: 16px;
          background-color: #f2f2f2;
          color: #333;
          margin-right: 5px;
          margin-bottom: 5px;
          padding: 6px 12px;
          border-radius: 20px;
          cursor: move; }
          .container .fullBox .content .menunames .menu:hover {
            background-color: #f8f8f8; }

.actionbar {
  position: absolute;
  background-color: #2b2f38;
  color: #fff;
  height: calc(100% - 70px);
  right: 0;
  transform: translateX(64px);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0.96, 0.82);
  -moz-transition: transform 0.4s cubic-bezier(1, 0, 0.96, 0.82);
  -ms-transition: transform 0.4s cubic-bezier(1, 0, 0.96, 0.82);
  -o-transition: transform 0.4s cubic-bezier(1, 0, 0.96, 0.82);
  transition: transform 0.4s cubic-bezier(1, 0, 0.96, 0.82); }
  .actionbar.visible {
    transform: translateX(0);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s; }
  .actionbar a {
    color: #fff; }
  .actionbar .icon {
    padding: 20px;
    cursor: default; }
    .actionbar .icon.bottom {
      position: absolute;
      bottom: 0; }
    .actionbar .icon:hover {
      background-color: #21262f; }

.loadingSpinner {
  float: right;
  margin-top: 10px;
  margin-right: 8px; }
  .loadingSpinner .loading {
    width: 25px;
    height: 25px;
    border: 2px solid #E6E6E6;
    border-top: 2px solid #e67e22;
    border-radius: 50%;
    animation: drey 1s ease infinite; }
  .loadingSpinner .success {
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center; }
    .loadingSpinner .success i {
      font-size: 20px;
      line-height: 25px;
      color: #fff;
      transform: scale(0);
      animation: scaleInBezizer .8s forwards; }
  .loadingSpinner .error {
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center; }
    .loadingSpinner .error i {
      font-size: 20px;
      line-height: 25px;
      color: #fff;
      transform: scale(0);
      animation: scaleInBezizer .8s forwards; }
@keyframes scaleInBezizer {
  0% {
    transform: scale(0); }
  40% {
    transform: scale(1); }
  100% {
    transform: scale(0.95); } }
@keyframes drey {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* food-add */
.menucategory select {
  background-color: red; }

.login {
  font-family: "Gravity Light";
  position: absolute;
  width: 100%; }
  .login.logout {
    opacity: 0;
    animation: showLogin .5s 1.5s forwards; }

@keyframes showLogin {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.devs {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 20px; }
  .devs a {
    color: #333;
    margin: 0 5px;
    text-decoration: none; }
    .devs a:hover {
      color: #000;
      border-bottom: 1px solid #444; }

h1 {
  font-size: 55px;
  text-align: center;
  margin-top: 180px; }

.loginwrapper {
  position: absolute;
  width: 330px;
  left: 50%;
  margin-left: -165px;
  text-align: right; }
  .loginwrapper .icon {
    display: inline-block;
    position: relative;
    font-size: 24px;
    left: 35px;
    vertical-align: middle; }
  .loginwrapper input[type=text], .loginwrapper input[type=password] {
    background-color: transparent;
    width: calc(100% - 86px);
    height: 35px;
    margin: 0;
    margin-top: 20px;
    padding: 5px 20px 5px 40px;
    border: solid 1px #000;
    border-radius: 90px;
    outline: 0; }
  .loginwrapper .passwordlostbox {
    margin-top: 30px; }
    .loginwrapper .passwordlostbox .passwordlost {
      font-size: 18px;
      color: #333;
      text-decoration: none;
      margin-right: 30px;
      vertical-align: middle; }
      .loginwrapper .passwordlostbox .passwordlost:hover {
        color: #000; }
    .loginwrapper .passwordlostbox .doneicon {
      font-size: 30px;
      border: solid 1px #333;
      border-radius: 100px;
      padding: 5px;
      vertical-align: middle;
      cursor: default; }
      .loginwrapper .passwordlostbox .doneicon:hover {
        color: #333;
        border-color: #333; }

@media screen and (max-width: 650px) {
  .topbar .headline {
    display: none; } }
@media screen and (max-width: 800px) {
  .topbar .burgericon {
    display: inline; }

  .navbar {
    display: none; }

  .container {
    left: 0;
    width: calc(100% - 64px - 20px * 2);
    height: calc(100% - 70px - 40px);
    padding: 20px; } }

/*# sourceMappingURL=style.css.map */
