@font-face {
  font-family: 'Gravity Light';
  src: url("../../assets/fonts/Gravity-Light.eot");
  src: url("../../assets/fonts/Gravity-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Gravity-Light.woff") format("woff"); }
@font-face {
  font-family: 'Gravity';
  src: url("../../assets/fonts/Gravity-Regular.eot");
  src: url("../../assets/fonts/Gravity-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Gravity-Regular.woff") format("woff"); }
body {
  font-family: "Gravity", sans-serif;
  font-size: 15px;
  background-color: #f3f3f3;
  color: #444;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-perspective: 500px;
  /* Chrome, Safari, Opera */
  perspective: 500px; }

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(45deg) scale(1);
  /* Chrome, Safari, Opera  */
  transform: rotateX(45deg) scale(0.6);
  transform-origin: bottom;
  -webkit-transition: transform 2s;
  -moz-transition: transform 2s;
  -ms-transition: transform 2s;
  -o-transition: transform 2s;
  transition: transform 2s;
  animation: translateMe 1.5s ease-in-out 2s forwards; }
  .wrapper.finished {
    -webkit-transform: rotateX(0deg) scale(1);
    /* Chrome, Safari, Opera  */
    transform: rotateX(0deg) scale(1);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0); }

.overlay {
  visibility: hidden;
  opacity: 0;
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 998;
  -webkit-transition: opacity .3s, visibility .3s;
  -moz-transition: opacity .3s, visibility .3s;
  -ms-transition: opacity .3s, visibility .3s;
  -o-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s; }
  .overlay.visible {
    visibility: visible;
    opacity: .5; }

.popup {
  background-color: #fff;
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  padding: 30px;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -ms-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s; }
  .popup.visible {
    opacity: 1; }
  .popup.large {
    width: 400px;
    height: 200px;
    margin-left: -200px;
    margin-top: calc((100px + 30px * 2) * -1); }
  .popup .close {
    font-size: 30px;
    color: #999;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: default; }
    .popup .close:hover {
      color: #000; }
  .popup h2 {
    font-weight: normal;
    margin-top: 0; }
  .popup navigation {
    display: inline-block;
    border-right: 1px solid #333;
    width: 40%; }
    .popup navigation ul {
      padding: 0;
      margin: 0; }
      .popup navigation ul li {
        list-style: none;
        padding: 8px 0;
        color: #444;
        cursor: default; }
        .popup navigation ul li i {
          font-size: 22px;
          vertical-align: middle; }
        .popup navigation ul li:hover {
          color: #000; }
  .popup content {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 15px; }
@keyframes popUp {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.topbar {
  position: relative;
  background-color: #fff;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 999;
  cursor: default; }
  .topbar .burgericon {
    display: none;
    margin-right: 30px;
    vertical-align: middle; }
  .topbar .headline {
    font-size: 24px;
    font-weight: normal;
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: middle; }
  .topbar .user {
    display: inline-block;
    position: absolute;
    right: 20px; }
    .topbar .user img {
      margin-left: 15px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      vertical-align: middle; }
    .topbar .user .icon {
      width: auto;
      height: 10px; }
  .topbar .options {
    display: none;
    position: absolute;
    width: 250px;
    top: 70px;
    right: 0;
    background-color: #fff;
    line-height: 22px;
    z-index: 999;
    cursor: default;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3); }
    .topbar .options ul {
      padding: 0; }
      .topbar .options ul li {
        list-style: none;
        padding: 8px 30px;
        color: #777; }
        .topbar .options ul li:hover {
          color: #000; }
          .topbar .options ul li:hover#logout {
            color: #e74c3c; }
  .topbar .user:hover + .options, .topbar .options:hover {
    display: block; }

.navbar {
  display: inline-block;
  position: absolute;
  font-family: 'Gravity Light';
  font-size: 18px;
  background-color: #2b2f38;
  color: #fff;
  min-width: 20%;
  height: calc(100% - 70px);
  cursor: default; }
  .navbar ul {
    padding: 0; }
    .navbar ul a {
      color: #fff;
      text-decoration: none;
      cursor: default; }
    .navbar ul li {
      list-style: none;
      padding: 25px 30px; }
      .navbar ul li:hover, .navbar ul li.active {
        background-color: #21262f; }
      .navbar ul li .notification {
        display: inline-block;
        font-size: 15px;
        background-color: #d82b2b;
        color: #fff;
        width: 25px;
        height: 25px;
        margin-left: 10px;
        text-align: center;
        line-height: 25px;
        border-radius: 50%; }

.container::-webkit-scrollbar {
  width: 10px;
  border-radius: 2px; }

.container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9; }

.container::-webkit-scrollbar-thumb:hover {
  background-color: #bebebe; }

.container {
  display: inline-block;
  position: absolute;
  width: calc(80% - 64px - 50px * 2);
  height: calc(100% - 70px - 80px);
  left: 20%;
  padding: 40px 50px;
  overflow: auto; }
  .container .dashboardBox, .container .feedbackBox {
    display: inline-block;
    opacity: 0;
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 30%;
    padding: 20px;
    margin-bottom: 50px;
    margin-right: 30px;
    vertical-align: top;
    cursor: default;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -ms-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s; }
    .container .dashboardBox:nth-of-type(1), .container .feedbackBox:nth-of-type(1) {
      animation: popIn 0.4s 0s ease forwards; }
    .container .dashboardBox:nth-of-type(2), .container .feedbackBox:nth-of-type(2) {
      animation: popIn 0.4s 0.05s ease forwards; }
    .container .dashboardBox:nth-of-type(3), .container .feedbackBox:nth-of-type(3) {
      animation: popIn 0.4s 0.1s ease forwards; }
    .container .dashboardBox:nth-of-type(4), .container .feedbackBox:nth-of-type(4) {
      animation: popIn 0.4s 0.1s ease forwards; }
    .container .dashboardBox:nth-of-type(5), .container .feedbackBox:nth-of-type(5) {
      animation: popIn 0.4s 0.1s ease forwards; }
    .container .dashboardBox:nth-of-type(6), .container .feedbackBox:nth-of-type(6) {
      animation: popIn 0.4s 0.1s ease forwards; }
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
    .container .dashboardBox .notification, .container .feedbackBox .notification {
      position: absolute;
      font-size: 15px;
      color: #fff;
      top: -15px;
      right: -15px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      -webkit-transition: background-color .1s;
      -moz-transition: background-color .1s;
      -ms-transition: background-color .1s;
      -o-transition: background-color .1s;
      transition: background-color .1s; }
      .container .dashboardBox .notification i, .container .feedbackBox .notification i {
        font-size: 15px;
        line-height: 30px; }
      .container .dashboardBox .notification.success, .container .feedbackBox .notification.success {
        background-color: #01DF01; }
      .container .dashboardBox .notification.alert, .container .feedbackBox .notification.alert {
        background-color: #FF0000; }
      .container .dashboardBox .notification.error, .container .feedbackBox .notification.error {
        background-color: #F7CA18; }
    .container .dashboardBox .title, .container .feedbackBox .title {
      font-size: 20px;
      margin-bottom: 10px; }
    .container .dashboardBox .text, .container .feedbackBox .text {
      font-size: 16px; }
    .container .dashboardBox:hover, .container .feedbackBox:hover {
      -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1); }
      .container .dashboardBox:hover .notification.success, .container .feedbackBox:hover .notification.success {
        background-color: #01d501; }
      .container .dashboardBox:hover .notification.alert, .container .feedbackBox:hover .notification.alert {
        background-color: #f50000; }
      .container .dashboardBox:hover .notification.error, .container .feedbackBox:hover .notification.error {
        background-color: #f7c80e; }
    .container .dashboardBox:active, .container .feedbackBox:active {
      cursor: move; }
  .container .fullBox {
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 100%;
    height: auto;
    min-height: 100%; }
    .container .fullBox .title {
      font-size: 20px;
      background-color: #f8f8f8;
      margin-bottom: 10px;
      padding: 12px 20px; }
      .container .fullBox .title.loading {
        background-color: #21262f;
        color: #fff;
        text-transform: uppercase; }
    .container .fullBox .content .days {
      margin-top: 5%;
      width: 90%;
      left: 8%;
      position: relative; }
      .container .fullBox .content .days .day {
        border: 2px dashed;
        border-color: #bdbdbd;
        border-radius: 8px;
        display: inline-block;
        height: 75px;
        width: 13%;
        text-align: center;
        padding-top: 40px;
        margin-left: 10px;
        background-color: #f2f2f2;
        color: #bdbdbd; }
    .container .fullBox .content .menunames {
      margin-top: 10%;
      width: 50%;
      left: 25%;
      position: relative; }
      .container .fullBox .content .menunames .menuclass {
        text-align: left;
        padding-bottom: 5px;
        font-size: 20px;
        background-color: #f2f2f2;
        color: #333;
        margin-bottom: 10px;
        padding: 5px 10px;
        border-radius: 8px; }

.actionbar {
  position: absolute;
  background-color: #2b2f38;
  color: #fff;
  height: calc(100% - 70px);
  right: 0;
  transform: translateX(64px);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0.96, 0.82);
  -moz-transition: transform 0.4s cubic-bezier(1, 0, 0.96, 0.82);
  -ms-transition: transform 0.4s cubic-bezier(1, 0, 0.96, 0.82);
  -o-transition: transform 0.4s cubic-bezier(1, 0, 0.96, 0.82);
  transition: transform 0.4s cubic-bezier(1, 0, 0.96, 0.82); }
  .actionbar.visible {
    transform: translateX(0);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s; }
  .actionbar .icon {
    padding: 20px;
    cursor: default; }
    .actionbar .icon.bottom {
      position: absolute;
      bottom: 0; }
    .actionbar .icon:hover {
      background-color: #21262f; }

.loadingSpinner {
  width: 50px;
  height: 50px;
  border: 2px solid #E6E6E6;
  border-radius: 50%; }
  .loadingSpinner .loading {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -3px;
    left: -3px;
    border: 3px solid #E6E6E6;
    border-top: 3px solid #e67e22;
    border-radius: 50%;
    animation: drey 1s ease infinite; }
  .loadingSpinner .success {
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -3px;
    left: -3px;
    border: 3px solid #2ecc71;
    border-radius: 50%;
    text-align: center; }
    .loadingSpinner .success i {
      font-size: 30px;
      line-height: 50px;
      color: #2ecc71;
      transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.22, 1.83);
      transform: scale(0.3); }
    .loadingSpinner .success.visible {
      opacity: 1; }
      .loadingSpinner .success.visible i {
        transform: scale(1); }
  .loadingSpinner .error {
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -3px;
    left: -3px;
    border: 3px solid #e74c3c;
    border-radius: 50%;
    text-align: center; }
    .loadingSpinner .error i {
      font-size: 30px;
      line-height: 50px;
      color: #e74c3c;
      transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.22, 1.83);
      transform: scale(0.3); }
    .loadingSpinner .error.visible {
      opacity: 1; }
      .loadingSpinner .error.visible i {
        transform: scale(1); }

@keyframes drey {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.feedbackBox:hover .action {
  transform: scale(1); }
.feedbackBox .action {
  transform: scale(0);
  position: absolute;
  font-size: 15px;
  color: #fff;
  top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  -webkit-transition: background-color .1s, visibility .3s;
  -moz-transition: background-color .1s;
  -ms-transition: background-color .1s;
  -o-transition: background-color .1s;
  transition: background-color 0.1s, transform 0.3s cubic-bezier(0.17, 0.67, 0.55, 1.17); }
  .feedbackBox .action i {
    font-size: 15px;
    line-height: 30px; }
  .feedbackBox .action.accept {
    background-color: #01DF01;
    right: -15px; }
    .feedbackBox .action.accept:hover {
      background-color: #01c601; }
  .feedbackBox .action.decline {
    background-color: #FF0000;
    right: 25px; }
    .feedbackBox .action.decline:hover {
      background-color: #e60000; }
.feedbackBox .subject {
  font-size: 18px;
  margin-bottom: 5px; }
.feedbackBox .rating {
  display: inline-block;
  width: 20%;
  font-size: 80px;
  right: 0;
  opacity: .4;
  vertical-align: middle; }
.feedbackBox .content {
  display: inline-block;
  width: 70%;
  vertical-align: middle; }

/*# sourceMappingURL=style.css.map */
