// Font-inclusions
@font-face {
  font-family: 'Gravity Light';
  src: url(assets/fonts/Gravity-Light.eot), /* EOT for IE */
  url(assets/fonts/Gravity-Light.otf);
}

@font-face {
  font-family: 'Gravity';
  src: url(assets/fonts/Gravity.eot), /* EOT for IE */
  url(assets/fonts/Gravity.otf);
}

$primary-font: 'Gravity Light', sans-serif;

body {
  font-family: $primary-font;
  font-size: 15px;
  background-color: #f3f3f3;
  color: #444;
  margin: 0;
  padding: 0;
  overflow: hidden; // sothat only container is scrollable
}

.topbar {
  background-color: #fff;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

  .burgericon {
    display: none;
    margin-right: 30px;
    vertical-align: middle;
  }

  .headline {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  .user {
    display: inline-block;
    position: absolute;
    right: 20px;
    img {
      margin-left: 15px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      vertical-align: middle;
    }
    .icon {
      width: auto;
      height: 10px;
    }
  }
  .options {
    display: none;
    position: absolute;
    width: 250px;
    top: 70px;
    right: 0;
    background-color: #fff;
    line-height: 22px;
    z-index: 1;
    cursor: default;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    ul {
      padding: 0;

      li {
        list-style: none;
        padding: 8px 30px;
        color: #777;
        &:hover {
          color: #000;
          &#logout{
            color: #FF4000;
          }
        }

      }
    }
  }
  .user:hover + .options, .options:hover {
    display: block;
  }
}

.navbar {
  display: inline-block;
  position: absolute;
  background-color: #2b2f38;
  font-size: 18px;
  color: #fff;
  min-width: 20%;
  height: calc(100% - 70px);
  cursor: default;
  ul {
    padding: 0;

    li {
      list-style: none;
      padding: 25px 30px;

      &:hover {
        background-color: #21262f;
      }
    }
  }
}

.container::-webkit-scrollbar {
  width: 10px;
  border-radius: 2px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;

}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #bebebe;

}

.container {
  display: inline-block;
  position: absolute;
  width: calc(80% - 64px - 50px * 2);
  height: calc(100% - 70px - 80px);
  left: 20%;
  padding: 40px 50px;
  overflow: auto; // sothat only container is scrollable

  .dashboardBox {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 30%;
    padding: 20px;
    margin-bottom: 50px;
    cursor: default;

    .notification {
      position: absolute;
      font-size: 15px;
      color: #fff;
      top: -15px;
      right: -15px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      -webkit-transition: background-color .1s;
      -moz-transition: background-color .1s;
      -ms-transition: background-color .1s;
      -o-transition: background-color .1s;
      transition: background-color .1s;

      i {
        font-size: 15px;
        line-height: 30px;
      }

      &.success {
        background-color: #01DF01;
      }

      &.alert {
        background-color: #FF0000;
      }

      &.error {
        background-color: transparent;
        border-radius: 0;
        width: 0;
        height: 0;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        border-bottom: 35px solid #f1c40f;
      }
    }

    .title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .text {
      font-size: 16px;
    }

    &:hover {
      .notification {
        &.alert {
          background-color: darken(#FF0000, 5%);
        }
        &.success {
          background-color: darken(#01DF01, 5%);
        }
      }
    }
    &:active {
      cursor: move;
    }
  }

  .fullBox {
    display: none;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 100%;
    height: auto;
    min-height: 100%;

    .title {
      font-size: 20px;
      margin-bottom: 10px;
      padding: 12px 20px;
      &.loading {
        background-color: #21262f;
        color: #fff;
        text-transform: uppercase;
      }
    }
    .content {
      padding: 20px;
    }

  }
}

.actionbar {
  position: absolute;
  background-color: #2b2f38;
  color: #fff;
  height: calc(100% - 70px);
  right: 0;
  .icon {
    padding: 20px;
    cursor: default;
    &.bottom {
      position: absolute;
      bottom: 0;
    }
    &:hover {
      background-color: #21262f;
    }
  }
}
