.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
    background-color: #333;
    border: 0;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
    color: #fff;
}