<div ng-controller="mailController">
    <div class="title">Ihre Nachrichten:</div>
    <table ng-if="mails">
        <tr>
            <th>Betreff</th>
            <th>Absender</th>
            <th>Datum</th>
        </tr>
        <tr ng-click="mailRead(mail.id)" ng-repeat="mail in mails">
            <td>{{ mail.subject }}</td>
            <td>{{ mail.from }}</td>
            <td>{{ mail.date }}</td>
        </tr>
    </table>
    <span ng-if="!mails"><i class="material-icons">done</i>Keine Nachrichten</span>
</div>