<div class="setupWrapper full" ng-controller="passwordSettingsController">
    <h2>{{ route.title }}</h2>
    <h3>{{ route.subtitle }}</h3>
    <form ng-submit="complete('password')">
        <div class="pwChange">
            <p>Legen Sie ein neues Passwort fest:</p>
            <input type="password" placeholder="Neues Passwort" ng-model="setup.input.password" ng-keyup="pwValidate(setup.input.password)"/>
            <div class="pwValidation">
                <div ng-class="{'active':pwSafety>=1}"></div>
                <div ng-class="{'active':pwSafety>=2}"></div>
                <div ng-class="{'active':pwSafety>=3}"></div>
                <div ng-class="{'active':pwSafety==4}"></div>
            </div>
            <input type="password" placeholder="Wiederholung" ng-model="setup.input.passwordRepeat"/>
        </div>
        <div class="actions">
            <input type="button" class="back" ng-click="back('password')"/>
            <button type="submit" class="primary forward"></button>
        </div>
    </form>
</div>