<div class="setupWrapper full">
    <p>Legen Sie ein Passwort fest:</p>
    <input type="password" placeholder="Passwort" ng-model="input.pwNew" ng-keyup="pwValidate(input.pwNew)"/>
    <div class="pwValidation">
        <div ng-class="{'active':pwSafety>=1}"></div>
        <div ng-class="{'active':pwSafety>=2}"></div>
        <div ng-class="{'active':pwSafety>=3}"></div>
        <div ng-class="{'active':pwSafety==4}"></div>
    </div>
    <input type="password" placeholder="Wiederholung" ng-model="input.pwRepeat"/>
    <br/>
    <br/>
    <button ng-click="back('password')"><i class="material-icons">arrow_back</i></button>
    <button ng-click="complete('password')"><i class="material-icons">arrow_forward</i></button>
</div>