<div class="full page-users">
    <table class="users" ng-if="users.length">
        <tr>
            <th class="sortable" ng-click="sort('username')">{{ 'USERNAME' | translate }}</th>
            <th class="sortable" ng-click="sort('type')">{{ 'ACCOUNT-TYPE' | translate }}</th>
            <th ng-click="sort('lastActive')">{{ 'LAST-ACTIVE' | translate }}</th>
            <th></th>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{ user.username }}</td>
            <td>
                <ng-if ng-if="user.type == 1">{{ 'SUPERUSER' | translate }}</ng-if>
                <ng-if ng-if="user.type == 2">{{ 'ADMINISTRATOR' | translate }}</ng-if>
                <ng-if ng-if="user.type == 3">{{ 'RESTAURANT' | translate }}</ng-if>
            </td>
            <td>
                <ng-if ng-if="user.lastActive">{{ user.lastActive | date:"dd.MM.yyyy 'um' HH:mm" }}</ng-if>
                <ng-if ng-if="!user.lastActive">{{ 'NONE' | translate }}</ng-if>
            </td>
            <td class="actions">
                <div ng-click="deleteUser(user.id, $index)" class="tooltipTop" title="{{ 'DELETE' | translate }}"
                     ng-if="user.actions.delete"><i
                        class="material-icons">close</i></div>
                <a href="#user/edit/{{user.id}}" class="tooltipTop" title="{{ 'EDIT' | translate }}" ng-if="user.actions.edit"><i
                        class="material-icons">edit</i></a>
            </td>
        </tr>
    </table>
</div>