.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
    background-color: #333;
    border: 0;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
    color: #fff;
}

.tooltipster-sidetip.tooltipster-light.tooltipster-light-customized .tooltipster-box {
    background-color: #2980b9;
   border: 0;
}

.tooltipster-sidetip.tooltipster-light.tooltipster-light-customized .tooltipster-content {
    color: #fff;
}