$primary-font: "Gravity Book";

//Tint and blur intensity
//Set 1&2 to same color for uniform
//Otherwise it's a gradient
$menubg1: rgba(255,255,255,0.2);
$menubg2: rgba(255,255,255,0.2);
$blur: 5px;

//Background image to be used
@mixin background {
  background: url("../../assets/imgs/login_background.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  @include background;
  overflow: hidden;
}

.login {
  color: #fff;
  position: relative;
  width: 450px;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  top: 27.5vh;
  animation: zoomIn .5s ease;
  @keyframes zoomIn {
    0%{
     opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  &::before {
    z-index: -1;
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    @include background;
    filter: blur(20px);
  }
  &.logout {
    opacity: 0;
    animation: showLogin .5s 1.5s forwards;
  }
  h1 {
    font-family: $primary-font;
    font-size: 45px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
    text-align: center;
  }
  h3 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
  }
}

@keyframes showLogin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loginWrapper {
  position: absolute;
  text-align: center;
  background-color: rgba(255,255,255,.3);
  width: 100%;
  height: calc(50vh - 40px);
  padding: 20px 0;
  top: 0;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .25);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .25);
  .langs{
    position: absolute;
    top: 15px;
    right: 20px;
    .lang {
      opacity: .7;
      cursor: pointer;
      &.active{
        opacity: 1;
      }
      &:hover{
        opacity: 1;
      }
      &:last-of-type {
        margin-left: 10px;
      }
    }
  }
  form {
    margin-top: 60px;
  }
  p {
    text-align: center;
  }
  .icon {
    display: inline-block;
    font-size: 24px;
    position: relative;
    left: 35px;
    margin-left: -35px;
    vertical-align: middle;
  }
  input[type=text], input[type=password] {
    background-color: rgba(255,255,255,.3);
    color: #fff;
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    outline: 0;
    letter-spacing: 5px;
    &::-webkit-input-placeholder { /* Chrome */
      color: #fff;
      text-transform: lowercase;
      opacity: .8;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #fff;
      text-transform: lowercase;
      opacity: .8;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #fff;
      text-transform: lowercase;
      opacity: .8;
    }
    &:-moz-placeholder { /* Firefox 4 - 18 */
      color: #fff;
      text-transform: lowercase;
      opacity: 1;
    }
    &:focus {
      background-color: rgba(255,255,255,.2);
    }
  }
  .actions {
    width: 100%;
    margin-top: 50px;
    font-size: 0;
    position: absolute;
    bottom: 0;
    button, input[type=button] {
      background-color: rgba(255,255,255,.3);
      color: #fff;
      width: 50%;
      height: 50px;
      text-transform: uppercase;
      border: none;
      letter-spacing: 5px;
      &:hover {
        background-color: rgba(255,255,255,.2);
      }
      &.primary {
        background-color: rgba(255,255,255,.5);
        color: #333;
        &:hover {
          background-color: rgba(255,255,255,.6);
        }
      }
    }
  }
}

.setupWrapper, .pwResetWrapper {
  position: relative;
  width: calc(100% - 100px - 60px);
  margin-left: 20%;
  padding: 0 30px 40px 30px;
  &.full {
    font-size: 16px;
    text-align: center;
  }
  .left, .right {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }
  .right {
    margin-left: 2%;
  }
  p {
    font-family: 'Gravity';
  }
  .icon {
    vertical-align: middle;
    margin-right: 10px;
  }
  input[type=text], input[type=password] {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    &.short {
      width: 33%;
    }
  }
  textarea {
    font-family: 'Gravity';
    width: 80%;
    padding: 8px;
  }
  label.checkbox {
    text-align: left;
  }
  .actions {
    width: 100%;
    margin-top: 30px;
    button, input[type=button] {
      position: absolute;
      background-color: #d2d2d2;
      color: #fff;
      width: 50%;
      bottom: -40px;
      left: 0;
      padding: 15px 0;
      text-align: center;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #c9c9c9;
      }
      &.primary {
        background-color: #49a5a2;
        left: auto;
        right: 0;
        border-radius: 0 0 20px 0;
        &:hover {
          background-color: #469794;
        }
      }
      &.light {
        background-color: #3a8582;
        border-radius: 0 0 20px 0;
        &:hover {
          background-color: #41817e;
        }
      }
      &.back {
        background-image: url('../../assets/icons/arrow_left.png');
        background-size: 10%;
        background-position: center;
        background-repeat: no-repeat;
        height: 50px;
      }
      &.forward {
        background-image: url('../../assets/icons/arrow_right.png');
        background-size: 10%;
        background-position: center;
        background-repeat: no-repeat;
        height: 50px;
      }
      &.long {
        width: 100%;
      }
      &.orange {
        background-color: #f3ae44;
        margin-right: 10px;
        &:hover {
          background-color: #f3943e;
        }
      }
      &.green {
        background-color: #5ccc83;
        &:hover {
          background-color: #27ae60;
        }
      }
      i {
        font-size: 16px;
        vertical-align: middle;
      }
    }
  }
  .pwChange .pwValidation {
    width: 80%;
    margin-left: 10%;
  }
}

.pwResetWrapper {
  .pwChange .pwValidation {
    width: 80%;
    margin-left: 45px;
  }
}