$primary-font: "Gravity Light";

.login {
  font-family: $primary-font;
  background: #fff;
  background-image: url(../../assets/imgs/splash.png);
  background-size: 20%;
  background-position: center left;
  background-repeat: no-repeat;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  margin-top: 25vh;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
  &.logout {
    opacity: 0;
    animation: showLogin .5s 1.5s forwards;
  }
  h1{
    font-family: $primary-font;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 18px;
    text-align: center;
  }
}

@keyframes showLogin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.devs {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 20px;
  a {
    color: #333;
    margin: 0 5px;
    text-decoration: none;
    &:hover {
      color: #000;
      border-bottom: 1px solid #444;
    }
  }
}

.loginWrapper {
  width: calc(100% - 100px);
  margin-left: 20%;
  .logo{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 0 0 0;
    width: 120px;
    height: 120px;
  }
  form{
    margin-top: 60px;
  }
  p {
    text-align: center;
  }
  .icon {
    display: inline-block;
    font-size: 24px;
    position: relative;
    left: 35px;
    margin-left: -35px;
    vertical-align: middle;
  }
  input[type=text], input[type=password] {
    background-color: transparent;
    width: calc(75% - 86px);
    height: 35px;
    margin: 0;
    margin-bottom: 20px;
    padding: 5px 20px 5px 40px;
    border: solid 1px #666;
    border-radius: 50px;
    outline: 0;
    &:focus{
      border-color: #000;
    }
  }
  .actions {
    width: 100%;
    margin-top: 50px;
    button, input[type=button] {
      font-family: 'Gravity';
      font-size: 12px;
      background-color: #333;
      color: #fff;
      text-transform: uppercase;
      margin-left: 10px;
      padding: 14px 20px;
      border: none;
      border-radius: 20px;
      &:hover{
        background: #000;
      }
      &.primary{
        background-color: #49a5a2;
        &:hover{
          background-color: #469794;
        }
      }
    }
  }
}

.setupWrapper, .pwResetWrapper {
  width: calc(100% - 100px - 60px);
  margin-left: 20%;
  padding: 0 30px;
  &.full{
    font-size: 16px;
    text-align: center;
  }
  .left, .right{
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }
  .right{
    margin-left: 2%;
  }
  p{
    font-family: 'Gravity';
  }
  .icon{
    vertical-align: middle;
    margin-right: 10px;
  }
  input[type=text], input[type=password]{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    &.short {
      width: 30%;
    }
  }
  textarea{
    font-family: 'Gravity';
    width: 80%;
    padding: 8px;
  }
  .checkbox{
    text-align: left;
  }
  button {
    background-color: #d2d2d2;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    &:hover {
      background-color: #c2c2c2;
    }
    &.long{
      width: auto;
      height: auto;
      padding: 10px 20px;
      text-align: center;
      border-radius: 20px;
    }
    &.blue {
      background-color: #3498db;
      &:hover {
        background-color: #2980b9;
      }
    }
    &.orange {
      background-color: #f39c12;
      margin-right: 10px;
      &:hover {
        background-color: #e67e22;
      }
    }
    &.green {
      background-color: #2ecc71;
      &:hover {
        background-color: #27ae60;
      }
    }
    i {
      font-size: 16px;
      vertical-align: middle;
    }
  }
  .pwChange .pwValidation{
    width: 80%;
    margin-left: 10%;
  }
}

.pwResetWrapper{
  .pwChange .pwValidation{
    width: 80%;
    margin-left: 45px;
  }
}