$primary-font: "Gravity Light";

.login {
  font-family: $primary-font;
  position: absolute;
  width: 100%;
  &.logout {
    opacity: 0;
    animation: showLogin .5s 1.5s forwards;
  }
}

@keyframes showLogin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.devs {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 20px;
  a {
    color: #333;
    margin: 0 5px;
    text-decoration: none;
    &:hover {
      color: #000;
      border-bottom: 1px solid #444;
    }
  }
}

h1 {
  font-size: 55px;
  text-align: center;
  margin-top: 180px;
}

.loginwrapper {
  position: absolute;
  width: 330px;
  left: 50%;
  margin-left: -165px;
  text-align: right;

  .icon {
    display: inline-block;
    position: relative;
    font-size: 24px;
    left: 35px;
    vertical-align: middle;
  }

  input[type=text], input[type=password] {
    background-color: rgba(0, 0, 0, 0.0);
    width: calc(100% - 86px);
    height: 35px;
    margin: 0;
    margin-top: 20px;
    padding: 5px 20px 5px 40px;
    border: solid 1px #000;
    border-radius: 90px;
    outline: 0;
  }

  .passwordlostbox {
    margin-top: 30px;
    .passwordlost {
      font-size: 18px;
      color: #333;
      text-decoration: none;
      margin-right: 30px;
      vertical-align: middle;
      &:hover {
        color: #000;
      }
    }
    .doneicon {
      font-size: 30px;
      border: solid 1px #333;
      border-radius: 100px;
      padding: 5px;
      vertical-align: middle;
      cursor: default;
      &:hover {
        color: #333;
        border-color: #333;
      }
    }
  }
}

.basicDatawrapper {
  width: 300px;
  height: 200px;

  input[type=name] {
    background-color: #ffffff;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 5px 20px 5px 20px;
    border: solid 1px #000;
    border-radius: 90px;
    outline: 0;
  }

  textarea {
    width: 100%;
    padding: 8px 20px 5px 20px;
    background-color: #ffffff;
    margin-top: 10px;
    height: 80px;
    border-radius: 18px;
    border: solid 1px #000;
    background-position: right 8px top 8px;

  }

  input {
    margin-top: 10px;

  }
  label {
    position: absolute;
    right: 0;
  }
  input[type=checkbox]:after {
    background-color: #e0e0e0;
  }

  i {
    position: absolute;
    margin-top: 15px;
    border: solid 1px #000;
    border-radius: 100px;
    padding: 5px;
    margin-left: 10px;
  }

  label {
  }

}
