@media screen and (max-width: 650px) {
  .topbar .headline {
    display: none;
  }
}

@media screen and (max-height: 800px) {
  .wrapper {
    /*
    bottom: -20%;
    -webkit-transform: rotateX(70deg) scale(0.6);
    transform: rotateX(70deg) scale(0.6);
    */
    &.animate {
      @keyframes slideUp {
        0% {
          bottom: -40%;
        }
        100% {
          bottom: -20%;
        }
      }
    }
    &.finished {
      bottom: 0;
    }
    &.background {
      bottom: -100%;
    }
  }
}

@media screen and (max-height: 600px), screen and (max-width: 800px) {
  .wrapper {
    bottom: -100%;
    transition: none;
    &.animate {
      animation: none;
      transition: none;
    }
    &.finished {
      bottom: 0;
    }
    &.background {
      bottom: -100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .topbar .hamburger {
    display: inline-block;
  }
  .login {
    width: 100%;
    height: 100vh;
    top: 0;
    .loginWrapper {
      height: calc(100% - 40px);
      input[type=text], input[type=password] {
        width: calc(80% - 20px);
      }
      .pwValidation{
        width: 80%;
      }
      .actions {

        button, input[type=button] {

        }
      }
    }
  }
  .navbar {
    position: absolute;
    background-color: darken(#2b2f38, 10%);
    width: 80%;
    left: -80%;
    z-index: 999;
    transition: left .3s;
    &.visible {
      left: 0;
      transition: left .3s;
    }
    ul a {
      li {
        padding: 20px 30px;
      }
      &:first-of-type {
        li {
          margin-top: 8px;
        }
      }
    }
  }
  .serverLost, .serverConnected {
    font-size: 0;
    padding: 12px;
    border-radius: 50%;
    vertical-align: middle;
    background-image: url('../../assets/icons/wifi.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .container {
    left: 0;
    width: calc(100% - 20px * 2);
    height: calc(100% - 70px - 40px);
    padding: 20px;
    .fullBox{
      margin-left: -20px;
      margin-top: -20px;
      width: calc(100% + 40px);
      min-height: calc(100% + 40px);
      height: auto;
      .content {
        .left, .right {
          width: 100%;
        }
        .help {
          width: calc(100% - 20px);
          margin-left: 0;
        }
      }
    }
    .helpWrapper .category{
      width: calc(100% - 20px);
      margin: 0;
    }
    .dashboardBox, .feedbackBox {
      width: calc(50% - 20px - 30px);
      margin-top: 20px;
      margin-bottom: 0;
      margin-right: 20px;
      &:nth-of-type(2n+2) {
        margin-right: 0;
      }
      &:last-of-type{
        margin-bottom: 20px;
      }
      .actions {
        transform: scale(1);
      }
    }
  }
  .popup {
    &.large {
      width: calc(100% - 60px);
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 9999;
      navigation {
        width: 100%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0;
        border-bottom: 1px solid #333;
        ul li {
          display: inline-block;
          padding-right: 20px;
        }
      }
      content {
        width: 100%;
        padding: 0;
        margin-top: 20px;
      }
    }
    .action {
      bottom: auto;
    }
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .login {
    width: 100%;
    height: 100vh;
    top: 0;
    .loginWrapper {
      height: calc(100% - 40px);
      width: calc(100% - 40px);
      text-align: left;
      padding-left: 40px;
      input[type=text], input[type=password] {
        width: 50%;
      }
      .actions {
        right: 0;
        width: 40%;
        button, input[type=button] {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    .fullBox .content{
      input, textarea{
        width: calc(100% - 16px);
      }
    }
    .pagesDesignWrapper{
      .mainImg{
        width: 100%;
      }
      .imgs{
        width: 100%;
        height: auto;
        .uploader{
          width: calc(100% - 2px);
          margin-right: 0;
        }
        .img{
          width: 50%;
          margin: 0;
        }
      }
    }
    .dashboardBox {
      width: calc(100% - 30px - 20px);

    }
    .feedbackBox {
      width: calc(100% - 20px - 20px);
      &:first-of-type {
        margin-top: 80px;
      }
    }
    .switchBox {
      position: relative;
      .switcher{
        text-align: center;
        width: 100%;
        right: auto;
        margin: 0;
        padding-left: 0;
        line-height: 50px;
      }
      h2 {
        display: none;
      }
    }
    .switchWrapper{
      width: 100%;
      text-align: center;
    }
    .fullBox .content {
      .days .day {
        width: calc(100% / 4 - 4px);
        &:last-of-type {
          width: calc(100% / 4 - 4px);
        }
      }
      .menunames .menutype {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}