@media screen and (max-width: 650px) {
  .topbar .headline {
    display: none;
  }
}

@media screen and (max-height: 800px), screen and (max-width: 800px) {
  .wrapper {
    bottom: -100%;
    transition: none;
    &.animate {
      transition: none;
    }
    &.finished {
      bottom: 0;
    }
    &.background {
      bottom: -100%;
    }
  }
  .loginwrapper{
    width: 80%;
    left: 10%;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .topbar .burgericon {
    display: inline;
  }
  .navbar{
    position: absolute;
    width: 80%;
    left: -80%;
    z-index: 999;
    transition: left .3s;
    &.visible{
      left: 0;
      transition: left .3s;
    }
    ul a{
      li {
        padding: 20px 30px;
      }
      &:first-of-type {
        li {
          margin-top: 8px;
        }
      }
    }
  }
  .serverLost, .serverConnected {
    font-size: 0;
    padding: 12px;
    border-radius: 50%;
    vertical-align: middle;
    background-image: url('../../assets/icons/wifi.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .container{
    left: 0;
    width: calc(100% - 20px * 2);
    height: calc(100% - 70px - 40px);
    padding: 20px;
    .fullBox .content{
      .left, .right{
        width: 100%;
      }
      .help{
        width: calc(100% - 20px);
        margin-left:0;
      }
    }

    .dashboardBox, .feedbackBox{
      width: calc(50% - 20px - 30px);
      margin-top: 20px;
   margin-bottom: 0;
      margin-right: 20px;
      &:nth-of-type(2n+2){
        margin-right: 0;
      }
    }
  }
  .popup{
    &.large {
      width: calc(100% - 60px);
      height: 100%;
      top:0;
      left:0;
      margin: 0;
      z-index:9999;
      navigation{
        width: 100%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0;
        border-bottom: 1px solid #333;
        ul li{
          display: inline-block;
          padding-right: 20px;
        }
      }
      content{
        width: 100%;
        padding: 0;
        margin-top: 20px;
      }
    }
    .action{
      bottom: auto;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    .dashboardBox {
      width: calc(100% - 30px - 20px);

    }
    .feedbackBox{
      width: calc(100% - 20px - 20px);
      &:first-of-type{
        margin-top: 80px;
      }
    }
    .switchBox{
      h2{
        display: none;
      }
    }
    .fullBox .content{
      .days .day{
        width: calc(100% / 4 - 4px);
        margin-bottom: 10px;
        &:last-of-type {
          width: calc(100% / 4 - 4px);
        }
      }
      .menunames .menutype {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}