<div class="fullBox">
    <div class="title" ng-class="config.loading.status">
        <h2 ng-if="!config.loading.text">{{ config.title }}</h2>
        <div class="actions">
            <div class="loadingSpinner">
                <div class="loading"></div>
                <div class="success"><i class="material-icons">done</i></div>
                <div class="error"><i class="material-icons">close</i></div>
            </div>
            <span class="tooltipBottom" ng-show="!config.loading" ng-repeat="action in config.actions" ng-click="config.return($index)" title="{{ action.title }}">
                <a class="icon" ng-if="action.route" href="#{{action.route}}"><i class="material-icons">{{ action.icon }}</i></a>
                <a class="icon" ng-if="!action.route"><i class="material-icons">{{ action.icon }}</i></a>
            </span>
        </div>
    </div>
    <div class="content">
        <div ng-include="config.content"></div>
    </div>
</div>