<div class="fullBox">
    <form ng-submit="config.return(0)">
        <div class="title">
            <h2>{{ config.title }}</h2>
            <div class="actions">
            <span ng-repeat="action in config.actions" ng-click="config.return($index)">
                <a class="icon tooltipBottom" ng-if="action.route" href="#{{action.route}}"
                   title="{{ action.title }}"><i class="material-icons">{{ action.icon }}</i></a>
                <a class="icon tooltipBottom" ng-if="!action.route" title="{{ action.title }}"><i
                        class="material-icons">{{ action.icon }}</i></a>
            </span>
            </div>
        </div>
        <div class="content">
            <div ng-include="config.content"></div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        tooltipstln();
        selectln();
        datepicker();
    });

</script>