<div class="pwResetWrapper full">
    <h2>{{ route.title }}</h2>
    <h3>{{ route.subtitle }}</h3>
    <form ng-submit="complete('pwReset/confirm')">
        <p>
            Sie haben gerade eine Email erhalten.
            <br/>
            Geben Sie bitte die PIN ein, die Ihnen zugeschickt wurde.
        </p>
        <i class="material-icons icon">fiber_pin</i><input type="text" placeholder="PIN" ng-model="pwForgot.input.pin"/>
        <div class="actions">
            <input type="button" class="back" ng-click="back('pwReset/confirm')"/>
            <button type="submit" class="primary forward"></button>
        </div>
    </form>
</div>