<div class="loginWrapper">
    <h2>{{ route.title }}</h2>
    <h3>{{ route.subtitle }}</h3>
    <form ng-submit="complete('pwReset/confirm')">
        <input type="text" class="username" spellcheck="false" placeholder="PIN" ng-model="pwForgot.input.pin"/><br/>
        <div class="actions">
            <input type="button" ng-click="back('pwReset/confirm')" value="{{ 'BACK' | translate }}"/>
            <button type="submit" class="primary">{{ 'NEXT' | translate }}</button>
        </div>
    </form>
</div>