<div class="pwResetWrapper full" ng-controller="passwordSettingsController">
    <form ng-submit="complete('pwForgot/password')">
        <div class="pwChange">
            <p>Legen Sie Ihr neues Passwort fest:</p>
            <i class="material-icons icon">lock_outline</i><input type="password" class="short" placeholder="Neues Passwort" ng-model="pwForgot.input.password" ng-keyup="pwValidate(pwForgot.input.password)"/>
            <div class="pwValidation">
                <div ng-class="{'active':pwSafety>=1}"></div>
                <div ng-class="{'active':pwSafety>=2}"></div>
                <div ng-class="{'active':pwSafety>=3}"></div>
                <div ng-class="{'active':pwSafety==4}"></div>
            </div>
            <i class="material-icons icon">lock_outline</i><input type="password" class="short" placeholder="Wiederholung" ng-model="pwForgot.input.passwordRepeat"/>
        </div>
        <div class="actions">
            <button ng-click="back('pwReset/password')"><i class="material-icons">arrow_back</i></button>
            <button ng-click="complete('pwReset/password')"><i class="material-icons">arrow_forward</i></button>
        </div>
    </form>
</div>