<div class="pwForgotWrapper">
    <input type="password" placeholder="Passwort" ng-model="input.pwNew" ng-keyup="pwValidate(input.pwNew)"/>
    <div class="pwValidation">
        <div ng-class="{'active':pwSafety>=1}"></div>
        <div ng-class="{'active':pwSafety>=2}"></div>
        <div ng-class="{'active':pwSafety>=3}"></div>
        <div ng-class="{'active':pwSafety==4}"></div>
    </div>
    <input type="password" placeholder="Wiederholung" ng-model="input.pwRepeat"/>

    <br/>
    <i class="material-icons backicon" ng-click="back('password')">arrow_back</i>
    <i class="material-icons doneicon" ng-click="complete('pwForgot/password')">done</i>
</div>