<form class="pwForgotWrapper" ng-submit="complete('pwForgot/password')">
    <i class="material-icons icon">lock_outline</i><input type="text" ng-model="pwForgot.input.password" ng-keyup="pwValidate(input.pwNew)"/>
    <div class="pwValidation">
        <div ng-class="{'active':pwSafety>=1}"></div>
        <div ng-class="{'active':pwSafety>=2}"></div>
        <div ng-class="{'active':pwSafety>=3}"></div>
        <div ng-class="{'active':pwSafety==4}"></div>
    </div>
    <i class="material-icons icon">lock_outline</i><input type="text" ng-model="pwForgot.input.passwordRepeat"/>
    <div class="actions">
        <button type="submit"><i class="material-icons" ng-click="back('pwForgot/password')">arrow_back</i></button>
        <button type="submit"><i class="material-icons">done</i></button>
    </div>
</form>