<div class="loginWrapper">
    <h2>{{ route.title | translate }}</h2>
    <h3>{{ route.subtitle | translate }}</h3>
    <form ng-submit="complete('pwReset/request')">
        <input type="text" class="username" spellcheck="false" placeholder="{{ 'EMAIL-ADDRESS' | translate }}" ng-model="pwForgot.input.email" autocapitalize="off"/><br/>
        <div class="actions">
            <input type="button" ng-click="back('pwReset/request')" value="{{ 'BACK' | translate }}"/>
            <button type="submit" class="primary">{{ 'NEXT' | translate }}</button>
        </div>
    </form>
</div>