<div class="loginWrapper">
    <h2>{{ route.title | translate }}</h2>
    <h3>{{ route.subtitle | translate }}</h3>
    <p>Bieten Sie spezielle Zahlungsmethoden an?</p>
    <form ng-submit="complete('payments')">
        <label class="checkbox">
            <input type="checkbox" ng-model="setup.input.acceptsKelteneuro">
            <div></div>
            <span>Kelteneuro</span>
        </label>
        <br/>
        <label class="checkbox">
            <input type="checkbox" ng-model="setup.input.acceptsCard">
            <div></div>
            <span>Karte</span>
        </label>
        <div class="actions">
            <input type="button" ng-click="back('payments')" value="{{ 'BACK' | translate }}"/>
            <button type="submit" class="primary">{{ 'NEXT' | translate }}</button>
        </div>
    </form>
</div>