<div ng-controller="passwordSettingsController">
    <div class="pwChange" ng-controller="pwChange">
        <div class="title">Legen Sie Ihr neues Passwort fest:</div>
        <input type="password" class="longest" placeholder="Altes Passwort" ng-model="input.pwOld"/>
        <input type="password" class="longest" placeholder="Neues Passwort" ng-model="input.pwNew" ng-keyup="pwValidate(input.pwNew)"/>
        <div class="pwValidation">
            <div ng-class="{'active':pwSafety>=1}"></div>
            <div ng-class="{'active':pwSafety>=2}"></div>
            <div ng-class="{'active':pwSafety>=3}"></div>
            <div ng-class="{'active':pwSafety==4}"></div>
        </div>
        <input type="password" class="longest" placeholder="Wiederholung" ng-model="input.pwRepeat"/>
    </div>
    <div class="action" ng-click="save()"><i class="material-icons">done</i></div>
</div>