// Include your Fonts here

@font-face {
  font-family: 'Gravity Book';
  src: url('../Assets/Fonts/Gravity-Book.eot');
  src: url('../Assets/Fonts/Gravity-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../Assets/Fonts/Gravity-Book.woff') format('woff')
}

@font-face {
  font-family: 'Gravity';
  src: url('../Assets/Fonts/Gravity-Regular.eot');
  src: url('../Assets/Fonts/Gravity-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../Assets/Fonts/Gravity-Regular.woff') format('woff')
}