// Set your Mixins here

@mixin animate-popIn($delay:0s) {
  animation: popIn .4s $delay ease forwards;
}

@mixin animate-slideDown($delay:0s) {
  animation: slideDown .4s $delay ease forwards;
}

@mixin animate-slideIn($delay:0s) {
  animation: slideIn .4s $delay ease forwards;
}