<div class="full">
    <div class="switchWrapper">
        <span>App-Status:</span>
        <span class="appDown" ng-if="input.appStatus">Läuft (Online)</span>
        <span class="appUp" ng-if="!input.appStatus">Angehalten (Offline)</span>
        <label class="switch">
            <input type="checkbox" ng-model="input.appStatus">
            <div class="slider round"></div>
        </label>
    </div>
    <br/>
    <label>Aktive Benutzer:</label>
    {{ activeUsers }}
    <br/>
    <br/>
    <label>Downloads:</label><br/>
    <img class="icon" src="assets/icons/android.png"/>
    {{ downloads.android }}
    <br/>
    <img class="icon" src="assets/icons/ios.png"/>
    {{ downloads.iOS }}
    <br/>
    <img class="icon" src="assets/icons/windows.png"/>
    {{ downloads.windows }}
    <br/>
    Gesamt: {{ downloads.android + downloads.iOS + downloads.windows }}
</div>